#   SELENIUM :  WEB SCRAPPING

In [1]:
# Let's  import all required Libraries
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [2]:
#let's first convert to web driver
driver  =  webdriver.Chrome(r'C:\Users\user\Downloads\chromedriver_win32 (1)\chromedriver.exe')

Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You
have to scrape the     (A) job-title, (B) job-location,  (C) company_name,  (D) experience_required. You have to scrape first 10
jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually.

In [3]:
url  =  'https://www.naukri.com/'
driver.get(url)

In [4]:
search_job  =  driver.find_element("xpath","/html/body/div[1]/div[2]/div[3]/div/div/div[1]/div/div/div[1]/input")
search_job

In [5]:
search_job.send_keys("Data Analyst")

In [6]:
search_locn  =  driver.find_element("xpath","/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div[1]/input")
search_locn

In [7]:
search_locn.send_keys("Bangalore")

In [8]:
search_btn  =  driver.find_element("xpath","/html/body/div[1]/div[2]/div[3]/div/div/div[6]")
search_btn

In [9]:
search_btn.click()

In [10]:
title_tags  =  driver.find_elements("xpath",'//a[@class="title fw500 ellipsis"]')
len(title_tags)

20

In [11]:
job_titles  =  []

for i in title_tags:
    job_titles.append(i.text)
len(job_titles)

20

In [12]:
job_titles

['Sr.Business Data Analyst',
 'Senior Data Analysis Analyst',
 'Data Analyst/Senior Data Analyst',
 'Financial Data Analyst',
 'Senior Data Analyst II',
 'Data Analyst - CRM Platform',
 'Software Technical Expert - Data Analyst',
 'Reference Data Analyst',
 'Sales Data Analyst',
 'Lead Data Analyst',
 'Data Analyst',
 'Hiring Data Analyst - Forensics, KPMG India',
 'Big data analyst',
 'Data Analyst',
 'Senior Business Analyst, Data Analytics & Engineering-DATA Engineer',
 'Senior Data Analyst',
 'Data Analyst - US MNC (analytics)',
 'Data Analyst - Marketplace',
 'Hiring Data Analysts - Virtusa',
 'Data Analyst 2']

In [13]:
locn_tags  =  driver.find_elements("xpath",'//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(locn_tags)

20

In [14]:
job_location  =  []

for i  in locn_tags:
    job_location.append(i.text)
len(job_location)

20

In [15]:
job_location

['Bangalore/Bengaluru, karnataka\n(WFH during Covid)',
 'Bangalore/Bengaluru, Pune, Chennai',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Mumbai, Hyderabad/Secunderabad, Pune, Chennai, Ahmedabad',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Noida, Kolkata, Mumbai, Gurgaon/Gurugram, Delhi / NCR, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru\n(WFH during Covid)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Gurgaon/Gurugram, Delhi / NCR',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Hyderabad/Secunderabad, Pune, Chennai',
 'Bangalore/Bengaluru']

In [16]:
company_names  =  driver.find_elements("xpath",'//a[@class="subTitle ellipsis fleft"]')
len(company_names)

20

In [17]:
company_name  =  []

for i in company_names:
    company_name.append(i.text)
len(company_name)

20

In [18]:
company_name

['Collabera',
 'Capco',
 'Meesho',
 'Nuance India',
 'Flipkart',
 'Artech infosystem',
 'Schneider Electric',
 'Deutsche Bank',
 'NUANCE INDIA PVT LTD',
 'PowerSchool India',
 'Clarivate',
 'KPMG India',
 'Accolite Software India Pvt Ltd',
 'BYJUS',
 'Artech Infosystems Pvt. Ltd.',
 'Walmart',
 'Aspyra HR Services',
 'Gojek',
 'Virtusa',
 'PayPal']

In [19]:
exp_tags  =  driver.find_elements("xpath",'//li[@class="fleft grey-text br2 placeHolderLi experience"]')
len(exp_tags)

20

In [20]:
experience_required  =  []

for i in exp_tags:
    experience_required.append(i.text)
len(experience_required)

20

In [21]:
experience_required

['6-11 Yrs',
 '7-12 Yrs',
 '3-6 Yrs',
 '3-8 Yrs',
 '3-6 Yrs',
 '1-6 Yrs',
 '3-6 Yrs',
 '2-5 Yrs',
 '1-3 Yrs',
 '3-5 Yrs',
 '2-4 Yrs',
 '2-6 Yrs',
 '2-6 Yrs',
 '2-5 Yrs',
 '4-8 Yrs',
 '4-7 Yrs',
 '2-7 Yrs',
 '3-7 Yrs',
 '4-8 Yrs',
 '1-3 Yrs']

In [22]:
len(job_titles), len(job_location), len(company_name), len(experience_required)

(20, 20, 20, 20)

In [23]:
jobs  =  pd.DataFrame()
jobs['Job Title']  =  job_titles
jobs['Job Location']   =  job_location
jobs['Company Names']  =  company_name
jobs['Experience']   =  experience_required
jobs[0:10]

,Job Title,Job Location,Company Names,Experience
0,Sr.Business Data Analyst,"Bangalore/Bengaluru, karnataka\n(WFH during Co...",Collabera,6-11 Yrs
1,Senior Data Analysis Analyst,"Bangalore/Bengaluru, Pune, Chennai",Capco,7-12 Yrs
2,Data Analyst/Senior Data Analyst,Bangalore/Bengaluru,Meesho,3-6 Yrs
3,Financial Data Analyst,Bangalore/Bengaluru,Nuance India,3-8 Yrs
4,Senior Data Analyst II,Bangalore/Bengaluru,Flipkart,3-6 Yrs
5,Data Analyst - CRM Platform,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",Artech infosystem,1-6 Yrs
6,Software Technical Expert - Data Analyst,Bangalore/Bengaluru,Schneider Electric,3-6 Yrs
7,Reference Data Analyst,Bangalore/Bengaluru,Deutsche Bank,2-5 Yrs
8,Sales Data Analyst,Bangalore/Bengaluru,NUANCE INDIA PVT LTD,1-3 Yrs
9,Lead Data Analyst,Bangalore/Bengaluru,PowerSchool India,3-5 Yrs

Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually.

In [24]:
#let's first convert to web driver
driver  =  webdriver.Chrome(r'C:\Users\user\Downloads\chromedriver_win32 (1)\chromedriver.exe')

In [25]:
url  =  'https://www.naukri.com/'
driver.get(url)

In [34]:
search_job = driver.find_element("xpath","/html/body/div[1]/div[2]/div[3]/div/div/div[1]/div/div/div[1]/input")
search_job

In [35]:
search_job.send_keys("Data Scientist")

In [36]:
search_locn  =  driver.find_element("xpath","/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div[1]/input")
search_locn

In [37]:
search_locn.send_keys("Bangalore")

In [38]:
search_btn  =  driver.find_element("xpath","/html/body/div[1]/div[2]/div[3]/div/div/div[6]")
search_btn

In [39]:
search_btn.click()

In [41]:
title_tags  =  driver.find_elements("xpath",'//a[@class="title fw500 ellipsis"]')
len(title_tags)

20

In [42]:
job_titles  =  []

for i in title_tags:
    job_titles.append(i.text)
len(job_titles)

20

In [43]:
job_titles

['Urgent Job Opening For AI Practitioner - Data Science at Wipro Holmes',
 'Dataiku Consultant',
 'Opportunity For Data Scientist - Female Candidates ONLY',
 'Data Science - Senior Data Scientist - Analytics',
 'Principal - Data Scientist',
 'Opening For SAS Data Scientist_Senior (MNC_Big4)',
 'Opening For SAS Data Scientist_Senior (MNC_Big4)',
 'Research and Development -AI/ML -(PhD )',
 'Senior Data Science Engineer',
 'Data Science - Engineering Manager',
 'Data Scientist',
 'Data Scientist- Assistant Manager/Manager',
 'Data Scientist',
 'Data Scientist, Personalization',
 'AWS Sagemaker',
 'Data Scientist',
 'Data Scientist: Artificial Intelligence',
 'Data Scientist - IN3',
 'Senior Data Scientist, Personalization',
 'Data Scientist']

In [44]:
locn_tags  =  driver.find_elements("xpath",'//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(locn_tags)

20

In [45]:
location  =  []

for i in locn_tags:
    location.append(i.text)
len(location)

20

In [46]:
location

['Bangalore/Bengaluru, Kochi/Cochin, New Delhi, Coimbatore, Chennai, Pune, Mumbai, Hyderabad',
 'Bangalore/Bengaluru, Pune, Chennai',
 'Bangalore/Bengaluru, Gurgaon/Gurugram, Mumbai (All Areas)',
 'Bangalore/Bengaluru, Noida',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Kolkata, Hyderabad/Secunderabad',
 'Bangalore/Bengaluru, Kolkata, Hyderabad/Secunderabad',
 'Bangalore/Bengaluru, Noida, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Delhi / NCR',
 'Bangalore/Bengaluru, Gurgaon/Gurugram, Mumbai (All Areas)',
 'Bangalore/Bengaluru, Noida, Mumbai',
 'Bangalore/Bengaluru, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru\n(WFH during Covid)',
 'Bangalore/Bengaluru\n(WFH during Covid)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [47]:
company_tags  =  driver.find_elements("xpath",'//a[@class="subTitle ellipsis fleft"]')
len(company_tags)

20

In [48]:
company_names  =  []

for i in company_tags:
    company_names.append(i.text)
len(company_names)

20

In [49]:
company_names

['Wipro',
 'Wipro',
 'PayU',
 'Paytm',
 'Schneider Electric',
 'Allegis Services India Pvt. Ltd.',
 'Allegis Services India Pvt. Ltd.',
 'EXL',
 'Fractal Analytics',
 'Paytm',
 'UPL',
 'Genpact',
 'IBM',
 'Walmart',
 'Wipro',
 'Wipro',
 'IBM',
 'Walmart',
 'Walmart',
 'Schneider Electric']

In [50]:
len(job_titles),len(location),len(company_names)

(20, 20, 20)

In [51]:
jobs  =  pd.DataFrame()
jobs['Job Title']  =  job_titles
jobs['Location'] =  location
jobs['Company']  =  company_names
jobs[0:10]

,Job Title,Location,Company
0,Urgent Job Opening For AI Practitioner - Data ...,"Bangalore/Bengaluru, Kochi/Cochin, New Delhi, ...",Wipro
1,Dataiku Consultant,"Bangalore/Bengaluru, Pune, Chennai",Wipro
2,Opportunity For Data Scientist - Female Candid...,"Bangalore/Bengaluru, Gurgaon/Gurugram, Mumbai ...",PayU
3,Data Science - Senior Data Scientist - Analytics,"Bangalore/Bengaluru, Noida",Paytm
4,Principal - Data Scientist,Bangalore/Bengaluru,Schneider Electric
5,Opening For SAS Data Scientist_Senior (MNC_Big4),"Bangalore/Bengaluru, Kolkata, Hyderabad/Secund...",Allegis Services India Pvt. Ltd.
6,Opening For SAS Data Scientist_Senior (MNC_Big4),"Bangalore/Bengaluru, Kolkata, Hyderabad/Secund...",Allegis Services India Pvt. Ltd.
7,Research and Development -AI/ML -(PhD ),"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",EXL
8,Senior Data Science Engineer,"Bangalore/Bengaluru, Gurgaon/Gurugram, Mumbai ...",Fractal Analytics
9,Data Science - Engineering Manager,"Bangalore/Bengaluru, Noida, Mumbai",Paytm

Q3: In this question you have to scrape data using the filters available on the webpage :
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually.

In [52]:
driver  =  webdriver.Chrome(r'C:\Users\user\Downloads\chromedriver_win32 (1)\chromedriver.exe')

In [53]:
url  =  'https://www.naukri.com/'
driver.get(url)

In [54]:
search_job  =  driver.find_element("xpath","/html/body/div[1]/div[2]/div[3]/div/div/div[1]/div/div/div[1]/input")
search_job

In [55]:
search_job.send_keys("Data Scientist")

In [56]:
search_locn  =  driver.find_element("xpath","/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input")
search_locn

In [57]:
search_locn.send_keys("Delhi/NCR")

In [58]:
search_btn  =   driver.find_element("xpath","/html/body/div[1]/div[2]/div[3]/div/div/div[6]")
search_btn

In [59]:
search_btn.click()

In [60]:
title_tags  =  driver.find_elements("xpath",'//a[@class="title fw500 ellipsis"]')
len(title_tags)

20

In [61]:
job_titles  =  []

for i in title_tags:
    job_titles.append(i.text)
len(job_titles)

20

In [62]:
job_titles

['Urgent Job Opening For AI Practitioner - Data Science at Wipro Holmes',
 'Opportunity For Data Scientist - Female Candidates ONLY',
 'Data Science - Senior Data Scientist - Analytics',
 'Research and Development -AI/ML -(PhD )',
 'Senior Data Science Engineer',
 'Data Science - Engineering Manager',
 'DigitalBCG GAMMA Data Scientist',
 'Data Scientist',
 'Data Scientist - Python/Machine Learning',
 'Senior Associate - Data Science',
 'Data Scientist - Noida/Bangalore',
 'Data Scientist',
 'Data Scientist: Advanced Analytics',
 'Data Science - Lead Data Scientist',
 'Associate Data Scientist - Automotive Supply Chain & Technology',
 'Data Scientist - NLP/R/Python',
 'Data Scientist: Advanced Analytics',
 'Data Science Engineer - Gurgaon - Hybrid',
 'AVAP Agile Information Systems - Data Scientist - R/SQL/Python',
 'Sr Data Scientist']

In [63]:
locn_tags  =  driver.find_elements("xpath",'//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(locn_tags)

20

In [64]:
location  =  []

for i in locn_tags:
    location.append(i.text)
len(location)

20

In [65]:
location

['Kochi/Cochin, New Delhi, Bangalore/Bengaluru, Coimbatore, Chennai, Pune, Mumbai, Hyderabad',
 'Gurgaon/Gurugram, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Noida, Bangalore/Bengaluru',
 'Delhi / NCR, Noida, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru',
 'Gurgaon/Gurugram, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Noida, Mumbai, Bangalore/Bengaluru',
 'New Delhi, Bangalore/Bengaluru',
 'Delhi / NCR, Hyderabad/Secunderabad, Bangalore/Bengaluru',
 'Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secunderabad, Pune, Chennai, Ahmedabad, Bangalore/Bengaluru',
 'Mumbai, Hyderabad/Secunderabad, Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Noida, Bangalore/Bengaluru',
 'Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Gurgaon/Gurugram',
 'Noida, Bangalore/Bengaluru',
 'Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Mumbai, Pune, Chennai, Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Gurgaon/Gurugram',
 'Gurgaon/Gurugram',
 'Kolkata, Mumbai, Pune, Chennai, Bangalore/Bengaluru, hyderabad/secundrabad, Delhi / NCR',
 'Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secunderabad, Lucknow, Chennai, Ahmedabad, Bangalore/Bengaluru\n(WFH during Covid)']

In [66]:
company_tags  =   driver.find_elements("xpath",'//a[@class="subTitle ellipsis fleft"]')
len(company_tags)

20

In [67]:
company_names  =  []

for i in company_tags:
    company_names.append(i.text)
len(company_names)

20

In [68]:
company_names

['Wipro',
 'PayU',
 'Paytm',
 'EXL',
 'Fractal Analytics',
 'Paytm',
 'Boston Consulting Group',
 'Genpact',
 'Accubits Technologies',
 'Black Turtle India Pvt Ltd',
 'EXL',
 'EXL',
 'IBM',
 'Paytm',
 'IHS Markit',
 'AIM recruits',
 'IBM',
 'OFB TECH Pvt Ltd',
 'AVAP Agile',
 'Alpha Net']

In [69]:
exp_tags  =  driver.find_elements("xpath",'//li[@class="fleft grey-text br2 placeHolderLi experience"]')
len(exp_tags)

20

In [70]:
experience_required  =  []

for i in exp_tags:
    experience_required.append(i.text)
len(experience_required)

20

In [71]:
experience_required

['11-21 Yrs',
 '1-3 Yrs',
 '3-5 Yrs',
 '4-8 Yrs',
 '5-9 Yrs',
 '9-13 Yrs',
 '2-5 Yrs',
 '5-8 Yrs',
 '4-8 Yrs',
 '4-7 Yrs',
 '5-10 Yrs',
 '4-7 Yrs',
 '5-10 Yrs',
 '3-5 Yrs',
 '3-6 Yrs',
 '5-7 Yrs',
 '3-7 Yrs',
 '2-6 Yrs',
 '3-8 Yrs',
 '9-12 Yrs']

In [72]:
salary_check  =  driver.find_element("xpath",'/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[5]/div[2]/div[2]/label/i')
salary_check.click()

In [73]:
len(job_titles), len(location), len(company_names), len(experience_required)

(20, 20, 20, 20)

In [74]:
jobs  =  pd.DataFrame()
jobs['Job Title']  =  job_titles
jobs['Location'] =  location
jobs['Company']  =  company_names
jobs['Experience']  =  experience_required
jobs[0:10]

,Job Title,Location,Company,Experience
0,Urgent Job Opening For AI Practitioner - Data ...,"Kochi/Cochin, New Delhi, Bangalore/Bengaluru, ...",Wipro,11-21 Yrs
1,Opportunity For Data Scientist - Female Candid...,"Gurgaon/Gurugram, Bangalore/Bengaluru, Mumbai ...",PayU,1-3 Yrs
2,Data Science - Senior Data Scientist - Analytics,"Noida, Bangalore/Bengaluru",Paytm,3-5 Yrs
3,Research and Development -AI/ML -(PhD ),"Delhi / NCR, Noida, Hyderabad/Secunderabad, Pu...",EXL,4-8 Yrs
4,Senior Data Science Engineer,"Gurgaon/Gurugram, Bangalore/Bengaluru, Mumbai ...",Fractal Analytics,5-9 Yrs
5,Data Science - Engineering Manager,"Noida, Mumbai, Bangalore/Bengaluru",Paytm,9-13 Yrs
6,DigitalBCG GAMMA Data Scientist,"New Delhi, Bangalore/Bengaluru",Boston Consulting Group,2-5 Yrs
7,Data Scientist,"Delhi / NCR, Hyderabad/Secunderabad, Bangalore...",Genpact,5-8 Yrs
8,Data Scientist - Python/Machine Learning,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Accubits Technologies,4-8 Yrs
9,Senior Associate - Data Science,"Mumbai, Hyderabad/Secunderabad, Gurgaon/Gurugr...",Black Turtle India Pvt Ltd,4-7 Yrs

Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price
To scrape the data you have to go through following steps:
1. Go to Flipkart webpage by url : https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and
click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the
required data as usual.
4. After scraping data from the first page, go to the “Next” Button at the bottom other page , then
click on it.
5. Now scrape data from this page as usual
6. Repeat this until you get data for 100 sunglasses.
Note: That all of the above steps have to be done by coding only and not manually.

In [177]:
driver  =  webdriver.Chrome(r'C:\Users\user\Downloads\chromedriver_win32 (1)\chromedriver.exe')

In [178]:
url  =  'https://www.flipkart.com/'
driver.get(url)

In [179]:
search_for_products  =  driver.find_element("xpath","/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
search_for_products

In [180]:
search_for_products.send_keys("sunglasses")

In [181]:
search_btn  =  driver.find_element("xpath","/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
search_btn

In [182]:
search_btn.click()

In [183]:
url='https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off'
driver.get(url)

In [184]:
brand =  driver.find_elements("xpath",'//div[@class="_2WkVRV"]')
len(brand)

40

In [185]:
brands =  []

for i in brand:
    brands.append(i.text)
len(brands)

40

In [186]:
brands

['Singco India',
 'PHENOMENAL',
 'DAHAAZIL',
 'Fastrack',
 'New Specs',
 'Elligator',
 'SUNBEE',
 'Silver Kartz',
 'SUNBEE',
 'PIRASO',
 'SRPM',
 'PHENOMENAL',
 'SHAAH COLLECTIONS',
 'Fastrack',
 'PIRASO',
 'ROYAL SON',
 'Fastrack',
 'Lee Topper',
 'PIRASO',
 'elegante',
 'Lee Topper',
 'PIRASO',
 'PIRASO',
 'PHENOMENAL',
 'PIRASO',
 'Fastrack',
 'ROZZETTA CRAFT',
 'ROZZETTA CRAFT',
 'NuVew',
 'PIRASO',
 'ROZZETTA CRAFT',
 'Silver Kartz',
 'Mi',
 'SHAAH COLLECTIONS',
 'Sewell',
 'ROYAL SON',
 'ROZZETTA CRAFT',
 'SRPM',
 'SUNBEE',
 'elegante']

In [187]:
products  =  driver.find_elements("xpath",'//a[@class="IRpwTa"]')
len(products)

40

In [188]:
products_description  =  []

for i in products:
    products_description.append(i.text)
len(products_description)

40

In [189]:
products_description

['Gradient, Toughened Glass Lens, UV Protection Retro Squ...',
 'UV Protection, Mirrored Retro Square Sunglasses (53)',
 'UV Protection, Night Vision, Riding Glasses Wayfarer, W...',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection, Polarized, Mirrored Retro Square Sunglas...',
 'UV Protection Clubmaster Sunglasses (53)',
 'UV Protection, Polarized Wayfarer Sunglasses (Free Size...',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Wayfarer Sunglasses (50)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection, Polarized Round Sunglasses (54)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'Riding Glasses Wrap-around Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (58)',
 'Polarized, Riding Glasses, Night Vision Sports Sunglass...',
 'UV Protection Cat-eye Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (52)',
 'UV Protection Wayfarer Sunglasses (32)',
 'UV Protection Retro Square Sunglasses (53)',
 'UV Protection Aviator Sunglasses (54)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'Polarized, Riding Glasses Sports, Wrap-around Sunglasse...',
 'UV Protection Spectacle Sunglasses (Free Size)',
 'UV Protection Sports Sunglasses (62)',
 'UV Protection Over-sized Sunglasses (65)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Polarized Aviator Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (Free Size)',
 'Mirrored, Night Vision, UV Protection, Riding Glasses S...',
 'Polarized, UV Protection Aviator Sunglasses (57)',
 'UV Protection, Gradient Retro Square Sunglasses (Free S...',
 'Others Wayfarer, Retro Square Sunglasses (50)',
 'UV Protection, Polarized, Mirrored Wayfarer Sunglasses ...',
 'Polarized, Riding Glasses, Night Vision Sports Sunglass...']

In [190]:
price_of_sunglasses  =  driver.find_elements("xpath",'//div[@class="_30jeq3"]')
len(price_of_sunglasses)

40

In [191]:
price  =  []

for i in price_of_sunglasses:
    price.append(i.text)
len(price)

40

In [192]:
price

['₹598',
 '₹369',
 '₹177',
 '₹639',
 '₹264',
 '₹315',
 '₹259',
 '₹313',
 '₹283',
 '₹224',
 '₹224',
 '₹360',
 '₹195',
 '₹799',
 '₹224',
 '₹664',
 '₹639',
 '₹299',
 '₹359',
 '₹499',
 '₹229',
 '₹306',
 '₹226',
 '₹339',
 '₹246',
 '₹719',
 '₹474',
 '₹379',
 '₹291',
 '₹410',
 '₹303',
 '₹288',
 '₹839',
 '₹279',
 '₹265',
 '₹759',
 '₹331',
 '₹219',
 '₹283',
 '₹499']

In [194]:
discount=driver.find_elements("xpath",'//div[@class="_3Ay6Sb"]')
len(discount)

40

In [195]:
discounts  =  []

for i in discount:
    discounts.append(i.text)
len(discounts)

40

In [196]:
discounts

['80% off',
 '81% off',
 '82% off',
 '20% off',
 '89% off',
 '87% off',
 '80% off',
 '79% off',
 '78% off',
 '85% off',
 '82% off',
 '81% off',
 '88% off',
 '20% off',
 '85% off',
 '66% off',
 '20% off',
 '88% off',
 '86% off',
 '78% off',
 '82% off',
 '88% off',
 '85% off',
 '66% off',
 '84% off',
 '20% off',
 '76% off',
 '81% off',
 '76% off',
 '84% off',
 '79% off',
 '80% off',
 '30% off',
 '78% off',
 '82% off',
 '62% off',
 '83% off',
 '78% off',
 '78% off',
 '78% off']

In [197]:
len(brands),len(products_description),len(price),len(discounts)

(40, 40, 40, 40)

In [198]:
df1= pd.DataFrame()
df1['Brands']  =  brands
df1['Products Description'] = products_description
df1['Price']  =  price
df1['Discount']  = discounts
df1

,Brands,Products Description,Price,Discount
0,Singco India,"Gradient, Toughened Glass Lens, UV Protection ...",₹598,80% off
1,PHENOMENAL,"UV Protection, Mirrored Retro Square Sunglasse...",₹369,81% off
2,DAHAAZIL,"UV Protection, Night Vision, Riding Glasses Wa...",₹177,82% off
3,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹639,20% off
4,New Specs,UV Protection Rectangular Sunglasses (Free Size),₹264,89% off
5,Elligator,UV Protection Round Sunglasses (54),₹315,87% off
6,SUNBEE,"UV Protection, Polarized, Mirrored Retro Squar...",₹259,80% off
7,Silver Kartz,UV Protection Clubmaster Sunglasses (53),₹313,79% off
8,SUNBEE,"UV Protection, Polarized Wayfarer Sunglasses (...",₹283,78% off
9,PIRASO,UV Protection Aviator Sunglasses (54),₹224,85% off
10,SRPM,UV Protection Wayfarer Sunglasses (50),₹224,82% off
11,PHENOMENAL,UV Protection Retro Square Sunglasses (Free Size),₹360,81% off
12,SHAAH COLLECTIONS,"UV Protection, Polarized, Mirrored Rectangular...",₹195,88% off
13,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹799,20% off
14,PIRASO,UV Protection Aviator Sunglasses (54),₹224,85% off
15,ROYAL SON,"UV Protection, Polarized Round Sunglasses (54)",₹664,66% off
16,Fastrack,UV Protection Aviator Sunglasses (Free Size),₹639,20% off
17,Lee Topper,Riding Glasses Wrap-around Sunglasses (Free Size),₹299,88% off
18,PIRASO,UV Protection Aviator Sunglasses (58),₹359,86% off
19,elegante,"Polarized, Riding Glasses, Night Vision Sports...",₹499,78% off
20,Lee Topper,UV Protection Cat-eye Sunglasses (Free Size),₹229,82% off
21,PIRASO,UV Protection Rectangular Sunglasses (52),₹306,88% off
22,PIRASO,UV Protection Wayfarer Sunglasses (32),₹226,85% off
23,PHENOMENAL,UV Protection Retro Square Sunglasses (53),₹339,66% off
24,PIRASO,UV Protection Aviator Sunglasses (54),₹246,84% off
25,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹719,20% off
26,ROZZETTA CRAFT,"Polarized, Riding Glasses Sports, Wrap-around ...",₹474,76% off
27,ROZZETTA CRAFT,UV Protection Spectacle Sunglasses (Free Size),₹379,81% off
28,NuVew,UV Protection Sports Sunglasses (62),₹291,76% off
29,PIRASO,UV Protection Over-sized Sunglasses (65),₹410,84% off
30,ROZZETTA CRAFT,UV Protection Rectangular Sunglasses (Free Size),₹303,79% off
31,Silver Kartz,UV Protection Wayfarer Sunglasses (Free Size),₹288,80% off
32,Mi,Polarized Aviator Sunglasses (Free Size),₹839,30% off
33,SHAAH COLLECTIONS,UV Protection Round Sunglasses (Free Size),₹279,78% off
34,Sewell,"Mirrored, Night Vision, UV Protection, Riding ...",₹265,82% off
35,ROYAL SON,"Polarized, UV Protection Aviator Sunglasses (57)",₹759,62% off
36,ROZZETTA CRAFT,"UV Protection, Gradient Retro Square Sunglasse...",₹331,83% off
37,SRPM,"Others Wayfarer, Retro Square Sunglasses (50)",₹219,78% off
38,SUNBEE,"UV Protection, Polarized, Mirrored Wayfarer Su...",₹283,78% off
39,elegante,"Polarized, Riding Glasses, Night Vision Sports...",₹499,78% off

next page to see next 40 sunglasses till 100 sunglasses

In [199]:
next_btn  =  driver.find_element("xpath",'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
next_btn

In [200]:
next_btn.click()

In [201]:
url  =  'https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=2'
driver.get(url)

In [202]:
brand =  driver.find_elements("xpath",'//div[@class="_2WkVRV"]')
len(brand)

40

In [203]:
brands  =  []

for i in brand:
    brands.append(i.text)
len(brands)

40

In [204]:
brands

['DEIXELS',
 'AISLIN',
 'Fastrack',
 'PHENOMENAL',
 'ROYAL SON',
 'Silver Kartz',
 'PIRASO',
 'GANSTA',
 'kingsunglasses',
 'VINCENT CHASE',
 'ROYAL SON',
 'Silver Kartz',
 'CRYSTAL CART',
 'Rich Club',
 'ROYAL SON',
 'ROYAL SON',
 'PHENOMENAL',
 'ROZZETTA CRAFT',
 'VINCENT CHASE',
 'elegante',
 'kingsunglasses',
 'ROZZETTA CRAFT',
 'Fastrack',
 'ROZZETTA CRAFT',
 'SRPM',
 'Elligator',
 'kingsunglasses',
 'PHENOMENAL',
 'Fastrack',
 'Singco India',
 'New Specs',
 'ROYAL SON',
 'kingsunglasses',
 'New Specs',
 'kingsunglasses',
 'elegante',
 'Fastrack',
 'kingsunglasses',
 'ROZZETTA CRAFT',
 'povty']

In [205]:
products  =  driver.find_elements("xpath",'//a[@class="IRpwTa"]')
len(products)

40

In [206]:
products_description  =  []

for i in products:
    products_description.append(i.text)
len(products_description)

40

In [207]:
products_description

['UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection, Gradient Butterfly, Retro Square Sunglas...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Mirrored Retro Square Sunglasses (53)',
 'Mirrored Aviator Sunglasses (58)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection Round Sunglasses (54)',
 'by Lenskart Polarized, UV Protection Rectangular Sungla...',
 'Mirrored Aviator Sunglasses (55)',
 'UV Protection Clubmaster Sunglasses (53)',
 'Polarized, UV Protection, Mirrored, Gradient Rectangula...',
 'UV Protection Retro Square Sunglasses (54)',
 'Mirrored Aviator Sunglasses (55)',
 'UV Protection, Polarized Round Sunglasses (54)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...',
 'Polarized, Riding Glasses, Night Vision Sports Sunglass...',
 'UV Protection Rectangular Sunglasses (55)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Spectacle Sunglasses (Free Size)',
 'Night Vision, UV Protection Round Sunglasses (54)',
 'UV Protection, Riding Glasses Rectangular, Retro Square...',
 'Mirrored, UV Protection Wayfarer, Rectangular Sunglasse...',
 'UV Protection Retro Square Sunglasses (53)',
 'UV Protection Shield Sunglasses (Free Size)',
 'Gradient, Toughened Glass Lens, UV Protection Retro Squ...',
 'UV Protection Round Sunglasses (Free Size)',
 'Polarized, UV Protection Aviator Sunglasses (57)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'Polarized, Riding Glasses, Night Vision Sports Sunglass...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Mirrored Aviator Sunglasses (Free Size)',
 'UV Protection, Gradient Round Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (Free Size)']

In [208]:
price_of_sunglasses  =  driver.find_elements("xpath",'//div[@class="_30jeq3"]')
len(price_of_sunglasses)

40

In [209]:
price  =  []

for i in price_of_sunglasses:
    price.append(i.text)
len(price)

40

In [210]:
price

['₹236',
 '₹498',
 '₹759',
 '₹369',
 '₹379',
 '₹288',
 '₹223',
 '₹314',
 '₹194',
 '₹749',
 '₹379',
 '₹313',
 '₹529',
 '₹265',
 '₹379',
 '₹664',
 '₹360',
 '₹379',
 '₹749',
 '₹499',
 '₹189',
 '₹474',
 '₹899',
 '₹379',
 '₹233',
 '₹379',
 '₹289',
 '₹339',
 '₹719',
 '₹598',
 '₹268',
 '₹759',
 '₹329',
 '₹154',
 '₹269',
 '₹499',
 '₹759',
 '₹269',
 '₹379',
 '₹319']

In [212]:
discount =driver.find_elements("xpath",'//div[@class="_3Ay6Sb"]')
len(discount)

40

In [213]:
discounts = []

for i in discount:
    discounts.append(i.text)
len(discounts)

40

In [215]:
discounts

['80% off',
 '67% off',
 '15% off',
 '81% off',
 '74% off',
 '80% off',
 '86% off',
 '84% off',
 '80% off',
 '62% off',
 '74% off',
 '79% off',
 '74% off',
 '62% off',
 '74% off',
 '66% off',
 '81% off',
 '81% off',
 '70% off',
 '78% off',
 '85% off',
 '78% off',
 '10% off',
 '81% off',
 '76% off',
 '74% off',
 '85% off',
 '66% off',
 '20% off',
 '80% off',
 '79% off',
 '62% off',
 '79% off',
 '89% off',
 '82% off',
 '78% off',
 '15% off',
 '85% off',
 '81% off',
 '68% off']

In [216]:
len(brands),len(products_description),len(price),len(discounts)

(40, 40, 40, 40)

In [217]:
df2  =  pd.DataFrame()
df2['Brands'] = brands
df2['Products Description'] = products_description
df2['Price'] = price
df2['Discount'] = discounts

In [218]:
df2

,Brands,Products Description,Price,Discount
0,DEIXELS,UV Protection Aviator Sunglasses (Free Size),₹236,80% off
1,AISLIN,"UV Protection, Gradient Butterfly, Retro Squar...",₹498,67% off
2,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹759,15% off
3,PHENOMENAL,"UV Protection, Mirrored Retro Square Sunglasse...",₹369,81% off
4,ROYAL SON,Mirrored Aviator Sunglasses (58),₹379,74% off
5,Silver Kartz,UV Protection Wayfarer Sunglasses (Free Size),₹288,80% off
6,PIRASO,UV Protection Aviator Sunglasses (54),₹223,86% off
7,GANSTA,UV Protection Aviator Sunglasses (57),₹314,84% off
8,kingsunglasses,UV Protection Round Sunglasses (54),₹194,80% off
9,VINCENT CHASE,"by Lenskart Polarized, UV Protection Rectangul...",₹749,62% off
10,ROYAL SON,Mirrored Aviator Sunglasses (55),₹379,74% off
11,Silver Kartz,UV Protection Clubmaster Sunglasses (53),₹313,79% off
12,CRYSTAL CART,"Polarized, UV Protection, Mirrored, Gradient R...",₹529,74% off
13,Rich Club,UV Protection Retro Square Sunglasses (54),₹265,62% off
14,ROYAL SON,Mirrored Aviator Sunglasses (55),₹379,74% off
15,ROYAL SON,"UV Protection, Polarized Round Sunglasses (54)",₹664,66% off
16,PHENOMENAL,UV Protection Retro Square Sunglasses (Free Size),₹360,81% off
17,ROZZETTA CRAFT,"UV Protection, Gradient Rectangular Sunglasses...",₹379,81% off
18,VINCENT CHASE,"by Lenskart Polarized, UV Protection Wayfarer ...",₹749,70% off
19,elegante,"Polarized, Riding Glasses, Night Vision Sports...",₹499,78% off
20,kingsunglasses,UV Protection Rectangular Sunglasses (55),₹189,85% off
21,ROZZETTA CRAFT,UV Protection Retro Square Sunglasses (Free Size),₹474,78% off
22,Fastrack,"Mirrored, UV Protection Wayfarer Sunglasses (F...",₹899,10% off
23,ROZZETTA CRAFT,UV Protection Spectacle Sunglasses (Free Size),₹379,81% off
24,SRPM,"Night Vision, UV Protection Round Sunglasses (54)",₹233,76% off
25,Elligator,"UV Protection, Riding Glasses Rectangular, Ret...",₹379,74% off
26,kingsunglasses,"Mirrored, UV Protection Wayfarer, Rectangular ...",₹289,85% off
27,PHENOMENAL,UV Protection Retro Square Sunglasses (53),₹339,66% off
28,Fastrack,UV Protection Shield Sunglasses (Free Size),₹719,20% off
29,Singco India,"Gradient, Toughened Glass Lens, UV Protection ...",₹598,80% off
30,New Specs,UV Protection Round Sunglasses (Free Size),₹268,79% off
31,ROYAL SON,"Polarized, UV Protection Aviator Sunglasses (57)",₹759,62% off
32,kingsunglasses,UV Protection Round Sunglasses (Free Size),₹329,79% off
33,New Specs,UV Protection Rectangular Sunglasses (Free Size),₹154,89% off
34,kingsunglasses,"Mirrored, UV Protection Wayfarer Sunglasses (F...",₹269,82% off
35,elegante,"Polarized, Riding Glasses, Night Vision Sports...",₹499,78% off
36,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹759,15% off
37,kingsunglasses,"UV Protection, Mirrored Aviator Sunglasses (Fr...",₹269,85% off
38,ROZZETTA CRAFT,"UV Protection, Gradient Round Sunglasses (Free...",₹379,81% off
39,povty,UV Protection Retro Square Sunglasses (Free Size),₹319,68% off

next 20 sunglasses  till to make it 100 sunglasses

In [219]:
next_btn  =  driver.find_element("xpath","/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]")
next_btn

In [220]:
next_btn.click()

In [221]:
url  =  'https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=3'
driver.get(url)

In [222]:
brand  =  driver.find_elements("xpath",'//div[@class="_2WkVRV"]')
len(brand)

40

In [223]:
brands  =  []
for i in brand:
    brands.append(i.text)
len(brands)

40

In [224]:
brands

['AISLIN',
 'Fastrack',
 'Fastrack',
 'Singco India',
 'PIRASO',
 'Lee Topper',
 'Fastrack',
 'PHENOMENAL',
 'New Specs',
 'VINCENT CHASE',
 'ROYAL SON',
 'Silver Kartz',
 'Lee Topper',
 'GANSTA',
 'Mi',
 'PHENOMENAL',
 'kingsunglasses',
 'GANSTA',
 'VINCENT CHASE',
 'GANSTA',
 'ROZZETTA CRAFT',
 'VINCENT CHASE',
 'Fastrack',
 'ROYAL SON',
 'Rich Club',
 'CRYSTAL CART',
 'ROYAL SON',
 'elegante',
 'kingsunglasses',
 'elegante',
 'Roadster',
 'ROZZETTA CRAFT',
 'PHENOMENAL',
 'VINCENT CHASE',
 'VINCENT CHASE',
 'Silver Kartz',
 'Urbanic',
 'GANSTA',
 'Fastrack',
 'elegante']

In [225]:
products  =  driver.find_elements("xpath",'//a[@class="IRpwTa"]')
len(products)

40

In [226]:
products_description  =  []

for i in products:
    products_description.append(i.text)
len(products_description)

40

In [227]:
products_description

['UV Protection, Gradient Oval Sunglasses (58)',
 'UV Protection Wayfarer Sunglasses (55)',
 'UV Protection Shield Sunglasses (Free Size)',
 'Gradient, Toughened Glass Lens, UV Protection Retro Squ...',
 'UV Protection Butterfly Sunglasses (60)',
 'UV Protection Round Sunglasses (Free Size)',
 'Polarized Retro Square Sunglasses (Free Size)',
 'UV Protection, Mirrored Retro Square Sunglasses (53)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'Polarized, UV Protection Round Sunglasses (51)',
 'Polarized, UV Protection Wayfarer Sunglasses (61)',
 'UV Protection Clubmaster Sunglasses (53)',
 'Riding Glasses, Night Vision Wrap-around Sunglasses (Fr...',
 'UV Protection, Riding Glasses Aviator Sunglasses (57)',
 'Polarized Aviator Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'Mirrored, UV Protection Wayfarer Sunglasses (53)',
 'UV Protection Aviator Sunglasses (57)',
 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...',
 'UV Protection, Night Vision, Riding Glasses Aviator Sun...',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'Polarized, UV Protection Round Sunglasses (50)',
 'UV Protection Sports Sunglasses (Free Size)',
 'UV Protection, Polarized Round Sunglasses (54)',
 'UV Protection, Others Round Sunglasses (48)',
 'Polarized, UV Protection, Gradient, Riding Glasses Rect...',
 'Polarized Rectangular Sunglasses (60)',
 'Polarized, Riding Glasses, Night Vision Sports Sunglass...',
 'UV Protection Rectangular Sunglasses (55)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Others Aviator Sunglasses (Free Size)',
 'UV Protection Spectacle Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (53)',
 'Polarized, UV Protection Round Sunglasses (50)',
 'by Lenskart Polarized, UV Protection Cat-eye Sunglasses...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Others Retro Square Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (60)',
 'UV Protection Aviator Sunglasses (57)',
 'Polarized, Riding Glasses, Night Vision Sports Sunglass...']

In [228]:
price_of_sunglasses  =  driver.find_elements("xpath",'//div[@class="_30jeq3"]')
len(price_of_sunglasses)

40

In [229]:
price  =  []

for i in price_of_sunglasses:
    price.append(i.text)
len(price)

40

In [230]:
price

['₹498',
 '₹735',
 '₹809',
 '₹598',
 '₹405',
 '₹245',
 '₹639',
 '₹369',
 '₹214',
 '₹1,099',
 '₹664',
 '₹313',
 '₹276',
 '₹314',
 '₹899',
 '₹360',
 '₹299',
 '₹314',
 '₹949',
 '₹314',
 '₹426',
 '₹849',
 '₹719',
 '₹664',
 '₹260',
 '₹329',
 '₹664',
 '₹499',
 '₹269',
 '₹431',
 '₹449',
 '₹379',
 '₹339',
 '₹949',
 '₹949',
 '₹288',
 '₹399',
 '₹242',
 '₹639',
 '₹499']

In [231]:
discount = driver.find_elements("xpath",'//div[@class="_3Ay6Sb"]')
len(discount)

40

In [232]:
discounts = []

for i in discount:
    discounts.append(i.text)
len(discounts)

40

In [233]:
discounts

['67% off',
 '8% off',
 '10% off',
 '80% off',
 '84% off',
 '75% off',
 '20% off',
 '81% off',
 '86% off',
 '45% off',
 '66% off',
 '79% off',
 '88% off',
 '84% off',
 '25% off',
 '81% off',
 '85% off',
 '84% off',
 '52% off',
 '84% off',
 '78% off',
 '57% off',
 '20% off',
 '66% off',
 '67% off',
 '78% off',
 '66% off',
 '78% off',
 '82% off',
 '71% off',
 '55% off',
 '81% off',
 '66% off',
 '52% off',
 '52% off',
 '80% off',
 '49% off',
 '81% off',
 '20% off',
 '78% off']

In [234]:
len(brands),len(products_description),len(price),len(discounts)

(40, 40, 40, 40)

In [235]:
df3 =  pd.DataFrame()
df3['Brands']  =  brands
df3['Products Description']  =  products_description
df3['Price']  =  price
df3['Discount'] = discounts

In [237]:
df3

,Brands,Products Description,Price,Discount
0,AISLIN,"UV Protection, Gradient Oval Sunglasses (58)",₹498,67% off
1,Fastrack,UV Protection Wayfarer Sunglasses (55),₹735,8% off
2,Fastrack,UV Protection Shield Sunglasses (Free Size),₹809,10% off
3,Singco India,"Gradient, Toughened Glass Lens, UV Protection ...",₹598,80% off
4,PIRASO,UV Protection Butterfly Sunglasses (60),₹405,84% off
5,Lee Topper,UV Protection Round Sunglasses (Free Size),₹245,75% off
6,Fastrack,Polarized Retro Square Sunglasses (Free Size),₹639,20% off
7,PHENOMENAL,"UV Protection, Mirrored Retro Square Sunglasse...",₹369,81% off
8,New Specs,UV Protection Aviator Sunglasses (Free Size),₹214,86% off
9,VINCENT CHASE,"Polarized, UV Protection Round Sunglasses (51)","₹1,099",45% off
10,ROYAL SON,"Polarized, UV Protection Wayfarer Sunglasses (61)",₹664,66% off
11,Silver Kartz,UV Protection Clubmaster Sunglasses (53),₹313,79% off
12,Lee Topper,"Riding Glasses, Night Vision Wrap-around Sungl...",₹276,88% off
13,GANSTA,"UV Protection, Riding Glasses Aviator Sunglass...",₹314,84% off
14,Mi,Polarized Aviator Sunglasses (Free Size),₹899,25% off
15,PHENOMENAL,UV Protection Retro Square Sunglasses (Free Size),₹360,81% off
16,kingsunglasses,"Mirrored, UV Protection Wayfarer Sunglasses (53)",₹299,85% off
17,GANSTA,UV Protection Aviator Sunglasses (57),₹314,84% off
18,VINCENT CHASE,"by Lenskart Polarized, UV Protection Wayfarer ...",₹949,52% off
19,GANSTA,"UV Protection, Night Vision, Riding Glasses Av...",₹314,84% off
20,ROZZETTA CRAFT,"UV Protection, Gradient Rectangular Sunglasses...",₹426,78% off
21,VINCENT CHASE,"Polarized, UV Protection Round Sunglasses (50)",₹849,57% off
22,Fastrack,UV Protection Sports Sunglasses (Free Size),₹719,20% off
23,ROYAL SON,"UV Protection, Polarized Round Sunglasses (54)",₹664,66% off
24,Rich Club,"UV Protection, Others Round Sunglasses (48)",₹260,67% off
25,CRYSTAL CART,"Polarized, UV Protection, Gradient, Riding Gla...",₹329,78% off
26,ROYAL SON,Polarized Rectangular Sunglasses (60),₹664,66% off
27,elegante,"Polarized, Riding Glasses, Night Vision Sports...",₹499,78% off
28,kingsunglasses,UV Protection Rectangular Sunglasses (55),₹269,82% off
29,elegante,UV Protection Wayfarer Sunglasses (Free Size),₹431,71% off
30,Roadster,Others Aviator Sunglasses (Free Size),₹449,55% off
31,ROZZETTA CRAFT,UV Protection Spectacle Sunglasses (Free Size),₹379,81% off
32,PHENOMENAL,UV Protection Retro Square Sunglasses (53),₹339,66% off
33,VINCENT CHASE,"Polarized, UV Protection Round Sunglasses (50)",₹949,52% off
34,VINCENT CHASE,"by Lenskart Polarized, UV Protection Cat-eye S...",₹949,52% off
35,Silver Kartz,UV Protection Wayfarer Sunglasses (Free Size),₹288,80% off
36,Urbanic,Others Retro Square Sunglasses (Free Size),₹399,49% off
37,GANSTA,UV Protection Rectangular Sunglasses (60),₹242,81% off
38,Fastrack,UV Protection Aviator Sunglasses (57),₹639,20% off
39,elegante,"Polarized, Riding Glasses, Night Vision Sports...",₹499,78% off

In [239]:
df=df1

In [242]:
df2.join

<bound method DataFrame.join of             Brands                               Products Description Price  \
0          DEIXELS       UV Protection Aviator Sunglasses (Free Size)  ₹236
1           AISLIN  UV Protection, Gradient Butterfly, Retro Squar...  ₹498
2         Fastrack      UV Protection Wayfarer Sunglasses (Free Size)  ₹759
3       PHENOMENAL  UV Protection, Mirrored Retro Square Sunglasse...  ₹369
4        ROYAL SON                   Mirrored Aviator Sunglasses (58)  ₹379
5     Silver Kartz      UV Protection Wayfarer Sunglasses (Free Size)  ₹288
6           PIRASO              UV Protection Aviator Sunglasses (54)  ₹223
7           GANSTA              UV Protection Aviator Sunglasses (57)  ₹314
8   kingsunglasses                UV Protection Round Sunglasses (54)  ₹194
9    VINCENT CHASE  by Lenskart Polarized, UV Protection Rectangul...  ₹749
10       ROYAL SON                   Mirrored Aviator Sunglasses (55)  ₹379
11    Silver Kartz           UV Protection Clubmaster Sunglasses (53)  ₹313
12    CRYSTAL CART  Polarized, UV Protection, Mirrored, Gradient R...  ₹529
13       Rich Club         UV Protection Retro Square Sunglasses (54)  ₹265
14       ROYAL SON                   Mirrored Aviator Sunglasses (55)  ₹379
15       ROYAL SON     UV Protection, Polarized Round Sunglasses (54)  ₹664
16      PHENOMENAL  UV Protection Retro Square Sunglasses (Free Size)  ₹360
17  ROZZETTA CRAFT  UV Protection, Gradient Rectangular Sunglasses...  ₹379
18   VINCENT CHASE  by Lenskart Polarized, UV Protection Wayfarer ...  ₹749
19        elegante  Polarized, Riding Glasses, Night Vision Sports...  ₹499
20  kingsunglasses          UV Protection Rectangular Sunglasses (55)  ₹189
21  ROZZETTA CRAFT  UV Protection Retro Square Sunglasses (Free Size)  ₹474
22        Fastrack  Mirrored, UV Protection Wayfarer Sunglasses (F...  ₹899
23  ROZZETTA CRAFT     UV Protection Spectacle Sunglasses (Free Size)  ₹379
24            SRPM  Night Vision, UV Protection Round Sunglasses (54)  ₹233
25       Elligator  UV Protection, Riding Glasses Rectangular, Ret...  ₹379
26  kingsunglasses  Mirrored, UV Protection Wayfarer, Rectangular ...  ₹289
27      PHENOMENAL         UV Protection Retro Square Sunglasses (53)  ₹339
28        Fastrack        UV Protection Shield Sunglasses (Free Size)  ₹719
29    Singco India  Gradient, Toughened Glass Lens, UV Protection ...  ₹598
30       New Specs         UV Protection Round Sunglasses (Free Size)  ₹268
31       ROYAL SON   Polarized, UV Protection Aviator Sunglasses (57)  ₹759
32  kingsunglasses         UV Protection Round Sunglasses (Free Size)  ₹329
33       New Specs   UV Protection Rectangular Sunglasses (Free Size)  ₹154
34  kingsunglasses  Mirrored, UV Protection Wayfarer Sunglasses (F...  ₹269
35        elegante  Polarized, Riding Glasses, Night Vision Sports...  ₹499
36        Fastrack      UV Protection Wayfarer Sunglasses (Free Size)  ₹759
37  kingsunglasses  UV Protection, Mirrored Aviator Sunglasses (Fr...  ₹269
38  ROZZETTA CRAFT  UV Protection, Gradient Round Sunglasses (Free...  ₹379
39           povty  UV Protection Retro Square Sunglasses (Free Size)  ₹319

   Discount
0   80% off
1   67% off
2   15% off
3   81% off
4   74% off
5   80% off
6   86% off
7   84% off
8   80% off
9   62% off
10  74% off
11  79% off
12  74% off
13  62% off
14  74% off
15  66% off
16  81% off
17  81% off
18  70% off
19  78% off
20  85% off
21  78% off
22  10% off
23  81% off
24  76% off
25  74% off
26  85% off
27  66% off
28  20% off
29  80% off
30  79% off
31  62% off
32  79% off
33  89% off
34  82% off
35  78% off
36  15% off
37  85% off
38  81% off
39  68% off  >

In [244]:
df1.join

<bound method DataFrame.join of                Brands                               Products Description  \
0        Singco India  Gradient, Toughened Glass Lens, UV Protection ...
1          PHENOMENAL  UV Protection, Mirrored Retro Square Sunglasse...
2            DAHAAZIL  UV Protection, Night Vision, Riding Glasses Wa...
3            Fastrack   UV Protection Rectangular Sunglasses (Free Size)
4           New Specs   UV Protection Rectangular Sunglasses (Free Size)
5           Elligator                UV Protection Round Sunglasses (54)
6              SUNBEE  UV Protection, Polarized, Mirrored Retro Squar...
7        Silver Kartz           UV Protection Clubmaster Sunglasses (53)
8              SUNBEE  UV Protection, Polarized Wayfarer Sunglasses (...
9              PIRASO              UV Protection Aviator Sunglasses (54)
10               SRPM             UV Protection Wayfarer Sunglasses (50)
11         PHENOMENAL  UV Protection Retro Square Sunglasses (Free Size)
12  SHAAH COLLECTIONS  UV Protection, Polarized, Mirrored Rectangular...
13           Fastrack      UV Protection Wayfarer Sunglasses (Free Size)
14             PIRASO              UV Protection Aviator Sunglasses (54)
15          ROYAL SON     UV Protection, Polarized Round Sunglasses (54)
16           Fastrack       UV Protection Aviator Sunglasses (Free Size)
17         Lee Topper  Riding Glasses Wrap-around Sunglasses (Free Size)
18             PIRASO              UV Protection Aviator Sunglasses (58)
19           elegante  Polarized, Riding Glasses, Night Vision Sports...
20         Lee Topper       UV Protection Cat-eye Sunglasses (Free Size)
21             PIRASO          UV Protection Rectangular Sunglasses (52)
22             PIRASO             UV Protection Wayfarer Sunglasses (32)
23         PHENOMENAL         UV Protection Retro Square Sunglasses (53)
24             PIRASO              UV Protection Aviator Sunglasses (54)
25           Fastrack  Gradient, UV Protection Wayfarer Sunglasses (F...
26     ROZZETTA CRAFT  Polarized, Riding Glasses Sports, Wrap-around ...
27     ROZZETTA CRAFT     UV Protection Spectacle Sunglasses (Free Size)
28              NuVew               UV Protection Sports Sunglasses (62)
29             PIRASO           UV Protection Over-sized Sunglasses (65)
30     ROZZETTA CRAFT   UV Protection Rectangular Sunglasses (Free Size)
31       Silver Kartz      UV Protection Wayfarer Sunglasses (Free Size)
32                 Mi           Polarized Aviator Sunglasses (Free Size)
33  SHAAH COLLECTIONS         UV Protection Round Sunglasses (Free Size)
34             Sewell  Mirrored, Night Vision, UV Protection, Riding ...
35          ROYAL SON   Polarized, UV Protection Aviator Sunglasses (57)
36     ROZZETTA CRAFT  UV Protection, Gradient Retro Square Sunglasse...
37               SRPM      Others Wayfarer, Retro Square Sunglasses (50)
38             SUNBEE  UV Protection, Polarized, Mirrored Wayfarer Su...
39           elegante  Polarized, Riding Glasses, Night Vision Sports...

   Price Discount
0   ₹598  80% off
1   ₹369  81% off
2   ₹177  82% off
3   ₹639  20% off
4   ₹264  89% off
5   ₹315  87% off
6   ₹259  80% off
7   ₹313  79% off
8   ₹283  78% off
9   ₹224  85% off
10  ₹224  82% off
11  ₹360  81% off
12  ₹195  88% off
13  ₹799  20% off
14  ₹224  85% off
15  ₹664  66% off
16  ₹639  20% off
17  ₹299  88% off
18  ₹359  86% off
19  ₹499  78% off
20  ₹229  82% off
21  ₹306  88% off
22  ₹226  85% off
23  ₹339  66% off
24  ₹246  84% off
25  ₹719  20% off
26  ₹474  76% off
27  ₹379  81% off
28  ₹291  76% off
29  ₹410  84% off
30  ₹303  79% off
31  ₹288  80% off
32  ₹839  30% off
33  ₹279  78% off
34  ₹265  82% off
35  ₹759  62% off
36  ₹331  83% off
37  ₹219  78% off
38  ₹283  78% off
39  ₹499  78% off  >

In [245]:
df3.join

<bound method DataFrame.join of             Brands                               Products Description   Price  \
0           AISLIN       UV Protection, Gradient Oval Sunglasses (58)    ₹498
1         Fastrack             UV Protection Wayfarer Sunglasses (55)    ₹735
2         Fastrack        UV Protection Shield Sunglasses (Free Size)    ₹809
3     Singco India  Gradient, Toughened Glass Lens, UV Protection ...    ₹598
4           PIRASO            UV Protection Butterfly Sunglasses (60)    ₹405
5       Lee Topper         UV Protection Round Sunglasses (Free Size)    ₹245
6         Fastrack      Polarized Retro Square Sunglasses (Free Size)    ₹639
7       PHENOMENAL  UV Protection, Mirrored Retro Square Sunglasse...    ₹369
8        New Specs       UV Protection Aviator Sunglasses (Free Size)    ₹214
9    VINCENT CHASE     Polarized, UV Protection Round Sunglasses (51)  ₹1,099
10       ROYAL SON  Polarized, UV Protection Wayfarer Sunglasses (61)    ₹664
11    Silver Kartz           UV Protection Clubmaster Sunglasses (53)    ₹313
12      Lee Topper  Riding Glasses, Night Vision Wrap-around Sungl...    ₹276
13          GANSTA  UV Protection, Riding Glasses Aviator Sunglass...    ₹314
14              Mi           Polarized Aviator Sunglasses (Free Size)    ₹899
15      PHENOMENAL  UV Protection Retro Square Sunglasses (Free Size)    ₹360
16  kingsunglasses   Mirrored, UV Protection Wayfarer Sunglasses (53)    ₹299
17          GANSTA              UV Protection Aviator Sunglasses (57)    ₹314
18   VINCENT CHASE  by Lenskart Polarized, UV Protection Wayfarer ...    ₹949
19          GANSTA  UV Protection, Night Vision, Riding Glasses Av...    ₹314
20  ROZZETTA CRAFT  UV Protection, Gradient Rectangular Sunglasses...    ₹426
21   VINCENT CHASE     Polarized, UV Protection Round Sunglasses (50)    ₹849
22        Fastrack        UV Protection Sports Sunglasses (Free Size)    ₹719
23       ROYAL SON     UV Protection, Polarized Round Sunglasses (54)    ₹664
24       Rich Club        UV Protection, Others Round Sunglasses (48)    ₹260
25    CRYSTAL CART  Polarized, UV Protection, Gradient, Riding Gla...    ₹329
26       ROYAL SON              Polarized Rectangular Sunglasses (60)    ₹664
27        elegante  Polarized, Riding Glasses, Night Vision Sports...    ₹499
28  kingsunglasses          UV Protection Rectangular Sunglasses (55)    ₹269
29        elegante      UV Protection Wayfarer Sunglasses (Free Size)    ₹431
30        Roadster              Others Aviator Sunglasses (Free Size)    ₹449
31  ROZZETTA CRAFT     UV Protection Spectacle Sunglasses (Free Size)    ₹379
32      PHENOMENAL         UV Protection Retro Square Sunglasses (53)    ₹339
33   VINCENT CHASE     Polarized, UV Protection Round Sunglasses (50)    ₹949
34   VINCENT CHASE  by Lenskart Polarized, UV Protection Cat-eye S...    ₹949
35    Silver Kartz      UV Protection Wayfarer Sunglasses (Free Size)    ₹288
36         Urbanic         Others Retro Square Sunglasses (Free Size)    ₹399
37          GANSTA          UV Protection Rectangular Sunglasses (60)    ₹242
38        Fastrack              UV Protection Aviator Sunglasses (57)    ₹639
39        elegante  Polarized, Riding Glasses, Night Vision Sports...    ₹499

   Discount
0   67% off
1    8% off
2   10% off
3   80% off
4   84% off
5   75% off
6   20% off
7   81% off
8   86% off
9   45% off
10  66% off
11  79% off
12  88% off
13  84% off
14  25% off
15  81% off
16  85% off
17  84% off
18  52% off
19  84% off
20  78% off
21  57% off
22  20% off
23  66% off
24  67% off
25  78% off
26  66% off
27  78% off
28  82% off
29  71% off
30  55% off
31  81% off
32  66% off
33  52% off
34  52% off
35  80% off
36  49% off
37  81% off
38  20% off
39  78% off  >

In [246]:
df  =  df1 + df2 + df3
print(df)

                                     Brands  \
0                 Singco IndiaDEIXELSAISLIN
1                  PHENOMENALAISLINFastrack
2                  DAHAAZILFastrackFastrack
3            FastrackPHENOMENALSingco India
4                  New SpecsROYAL SONPIRASO
5           ElligatorSilver KartzLee Topper
6                      SUNBEEPIRASOFastrack
7              Silver KartzGANSTAPHENOMENAL
8             SUNBEEkingsunglassesNew Specs
9          PIRASOVINCENT CHASEVINCENT CHASE
10                   SRPMROYAL SONROYAL SON
11       PHENOMENALSilver KartzSilver Kartz
12  SHAAH COLLECTIONSCRYSTAL CARTLee Topper
13                  FastrackRich ClubGANSTA
14                        PIRASOROYAL SONMi
15             ROYAL SONROYAL SONPHENOMENAL
16         FastrackPHENOMENALkingsunglasses
17           Lee TopperROZZETTA CRAFTGANSTA
18         PIRASOVINCENT CHASEVINCENT CHASE
19                   eleganteeleganteGANSTA
20   Lee TopperkingsunglassesROZZETTA CRAFT
21        PIRASOROZZETTA CRAFTVINCENT CHASE
22                   PIRASOFastrackFastrack
23        PHENOMENALROZZETTA CRAFTROYAL SON
24                      PIRASOSRPMRich Club
25            FastrackElligatorCRYSTAL CART
26    ROZZETTA CRAFTkingsunglassesROYAL SON
27         ROZZETTA CRAFTPHENOMENALelegante
28              NuVewFastrackkingsunglasses
29               PIRASOSingco Indiaelegante
30          ROZZETTA CRAFTNew SpecsRoadster
31      Silver KartzROYAL SONROZZETTA CRAFT
32               MikingsunglassesPHENOMENAL
33  SHAAH COLLECTIONSNew SpecsVINCENT CHASE
34        SewellkingsunglassesVINCENT CHASE
35            ROYAL SONeleganteSilver Kartz
36            ROZZETTA CRAFTFastrackUrbanic
37                 SRPMkingsunglassesGANSTA
38             SUNBEEROZZETTA CRAFTFastrack
39                    elegantepovtyelegante

                                 Products Description           Price  \
0   Gradient, Toughened Glass Lens, UV Protection ...    ₹598₹236₹498
1   UV Protection, Mirrored Retro Square Sunglasse...    ₹369₹498₹735
2   UV Protection, Night Vision, Riding Glasses Wa...    ₹177₹759₹809
3   UV Protection Rectangular Sunglasses (Free Siz...    ₹639₹369₹598
4   UV Protection Rectangular Sunglasses (Free Siz...    ₹264₹379₹405
5   UV Protection Round Sunglasses (54)UV Protecti...    ₹315₹288₹245
6   UV Protection, Polarized, Mirrored Retro Squar...    ₹259₹223₹639
7   UV Protection Clubmaster Sunglasses (53)UV Pro...    ₹313₹314₹369
8   UV Protection, Polarized Wayfarer Sunglasses (...    ₹283₹194₹214
9   UV Protection Aviator Sunglasses (54)by Lenska...  ₹224₹749₹1,099
10  UV Protection Wayfarer Sunglasses (50)Mirrored...    ₹224₹379₹664
11  UV Protection Retro Square Sunglasses (Free Si...    ₹360₹313₹313
12  UV Protection, Polarized, Mirrored Rectangular...    ₹195₹529₹276
13  UV Protection Wayfarer Sunglasses (Free Size)U...    ₹799₹265₹314
14  UV Protection Aviator Sunglasses (54)Mirrored ...    ₹224₹379₹899
15  UV Protection, Polarized Round Sunglasses (54)...    ₹664₹664₹360
16  UV Protection Aviator Sunglasses (Free Size)UV...    ₹639₹360₹299
17  Riding Glasses Wrap-around Sunglasses (Free Si...    ₹299₹379₹314
18  UV Protection Aviator Sunglasses (58)by Lenska...    ₹359₹749₹949
19  Polarized, Riding Glasses, Night Vision Sports...    ₹499₹499₹314
20  UV Protection Cat-eye Sunglasses (Free Size)UV...    ₹229₹189₹426
21  UV Protection Rectangular Sunglasses (52)UV Pr...    ₹306₹474₹849
22  UV Protection Wayfarer Sunglasses (32)Mirrored...    ₹226₹899₹719
23  UV Protection Retro Square Sunglasses (53)UV P...    ₹339₹379₹664
24  UV Protection Aviator Sunglasses (54)Night Vis...    ₹246₹233₹260
25  Gradient, UV Protection Wayfarer Sunglasses (F...    ₹719₹379₹329
26  Polarized, Riding Glasses Sports, Wrap-around ...    ₹474₹289₹664
27  UV Protection Spectacle Sunglasses (Free Size)...    ₹379₹339₹499
28  UV Protection Sports Sunglasses (62)UV Protect...    ₹291₹719₹269
29  UV Protection Over-sized Sunglasses (65)Gradie...    ₹410₹598₹431
30  UV Protection Rectangular Sunglasses (Free Siz...    ₹303₹268₹449
31  UV Protection Wayfarer Sunglasses (Free Size)P...    ₹288₹759₹379
32  Polarized Aviator Sunglasses (Free Size)UV Pro...    ₹839₹329₹339
33  UV Protection Round Sunglasses (Free Size)UV P...    ₹279₹154₹949
34  Mirrored, Night Vision, UV Protection, Riding ...    ₹265₹269₹949
35  Polarized, UV Protection Aviator Sunglasses (5...    ₹759₹499₹288
36  UV Protection, Gradient Retro Square Sunglasse...    ₹331₹759₹399
37  Others Wayfarer, Retro Square Sunglasses (50)U...    ₹219₹269₹242
38  UV Protection, Polarized, Mirrored Wayfarer Su...    ₹283₹379₹639
39  Polarized, Riding Glasses, Night Vision Sports...    ₹499₹319₹499

                 Discount
0   80% off80% off67% off
1    81% off67% off8% off
2   82% off15% off10% off
3   20% off81% off80% off
4   89% off74% off84% off
5   87% off80% off75% off
6   80% off86% off20% off
7   79% off84% off81% off
8   78% off80% off86% off
9   85% off62% off45% off
10  82% off74% off66% off
11  81% off79% off79% off
12  88% off74% off88% off
13  20% off62% off84% off
14  85% off74% off25% off
15  66% off66% off81% off
16  20% off81% off85% off
17  88% off81% off84% off
18  86% off70% off52% off
19  78% off78% off84% off
20  82% off85% off78% off
21  88% off78% off57% off
22  85% off10% off20% off
23  66% off81% off66% off
24  84% off76% off67% off
25  20% off74% off78% off
26  76% off85% off66% off
27  81% off66% off78% off
28  76% off20% off82% off
29  84% off80% off71% off
30  79% off79% off55% off
31  80% off62% off81% off
32  30% off79% off66% off
33  78% off89% off52% off
34  82% off82% off52% off
35  62% off78% off80% off
36  83% off15% off49% off
37  78% off85% off81% off
38  78% off81% off20% off
39  78% off68% off78% off

In [251]:
df  =  pd.DataFrame
df=df1.join

In [252]:
df

<bound method DataFrame.join of                Brands                               Products Description  \
0        Singco India  Gradient, Toughened Glass Lens, UV Protection ...
1          PHENOMENAL  UV Protection, Mirrored Retro Square Sunglasse...
2            DAHAAZIL  UV Protection, Night Vision, Riding Glasses Wa...
3            Fastrack   UV Protection Rectangular Sunglasses (Free Size)
4           New Specs   UV Protection Rectangular Sunglasses (Free Size)
5           Elligator                UV Protection Round Sunglasses (54)
6              SUNBEE  UV Protection, Polarized, Mirrored Retro Squar...
7        Silver Kartz           UV Protection Clubmaster Sunglasses (53)
8              SUNBEE  UV Protection, Polarized Wayfarer Sunglasses (...
9              PIRASO              UV Protection Aviator Sunglasses (54)
10               SRPM             UV Protection Wayfarer Sunglasses (50)
11         PHENOMENAL  UV Protection Retro Square Sunglasses (Free Size)
12  SHAAH COLLECTIONS  UV Protection, Polarized, Mirrored Rectangular...
13           Fastrack      UV Protection Wayfarer Sunglasses (Free Size)
14             PIRASO              UV Protection Aviator Sunglasses (54)
15          ROYAL SON     UV Protection, Polarized Round Sunglasses (54)
16           Fastrack       UV Protection Aviator Sunglasses (Free Size)
17         Lee Topper  Riding Glasses Wrap-around Sunglasses (Free Size)
18             PIRASO              UV Protection Aviator Sunglasses (58)
19           elegante  Polarized, Riding Glasses, Night Vision Sports...
20         Lee Topper       UV Protection Cat-eye Sunglasses (Free Size)
21             PIRASO          UV Protection Rectangular Sunglasses (52)
22             PIRASO             UV Protection Wayfarer Sunglasses (32)
23         PHENOMENAL         UV Protection Retro Square Sunglasses (53)
24             PIRASO              UV Protection Aviator Sunglasses (54)
25           Fastrack  Gradient, UV Protection Wayfarer Sunglasses (F...
26     ROZZETTA CRAFT  Polarized, Riding Glasses Sports, Wrap-around ...
27     ROZZETTA CRAFT     UV Protection Spectacle Sunglasses (Free Size)
28              NuVew               UV Protection Sports Sunglasses (62)
29             PIRASO           UV Protection Over-sized Sunglasses (65)
30     ROZZETTA CRAFT   UV Protection Rectangular Sunglasses (Free Size)
31       Silver Kartz      UV Protection Wayfarer Sunglasses (Free Size)
32                 Mi           Polarized Aviator Sunglasses (Free Size)
33  SHAAH COLLECTIONS         UV Protection Round Sunglasses (Free Size)
34             Sewell  Mirrored, Night Vision, UV Protection, Riding ...
35          ROYAL SON   Polarized, UV Protection Aviator Sunglasses (57)
36     ROZZETTA CRAFT  UV Protection, Gradient Retro Square Sunglasse...
37               SRPM      Others Wayfarer, Retro Square Sunglasses (50)
38             SUNBEE  UV Protection, Polarized, Mirrored Wayfarer Su...
39           elegante  Polarized, Riding Glasses, Night Vision Sports...

   Price Discount
0   ₹598  80% off
1   ₹369  81% off
2   ₹177  82% off
3   ₹639  20% off
4   ₹264  89% off
5   ₹315  87% off
6   ₹259  80% off
7   ₹313  79% off
8   ₹283  78% off
9   ₹224  85% off
10  ₹224  82% off
11  ₹360  81% off
12  ₹195  88% off
13  ₹799  20% off
14  ₹224  85% off
15  ₹664  66% off
16  ₹639  20% off
17  ₹299  88% off
18  ₹359  86% off
19  ₹499  78% off
20  ₹229  82% off
21  ₹306  88% off
22  ₹226  85% off
23  ₹339  66% off
24  ₹246  84% off
25  ₹719  20% off
26  ₹474  76% off
27  ₹379  81% off
28  ₹291  76% off
29  ₹410  84% off
30  ₹303  79% off
31  ₹288  80% off
32  ₹839  30% off
33  ₹279  78% off
34  ₹265  82% off
35  ₹759  62% off
36  ₹331  83% off
37  ₹219  78% off
38  ₹283  78% off
39  ₹499  78% off  >

In [253]:
df2

,Brands,Products Description,Price,Discount
0,DEIXELS,UV Protection Aviator Sunglasses (Free Size),₹236,80% off
1,AISLIN,"UV Protection, Gradient Butterfly, Retro Squar...",₹498,67% off
2,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹759,15% off
3,PHENOMENAL,"UV Protection, Mirrored Retro Square Sunglasse...",₹369,81% off
4,ROYAL SON,Mirrored Aviator Sunglasses (58),₹379,74% off
5,Silver Kartz,UV Protection Wayfarer Sunglasses (Free Size),₹288,80% off
6,PIRASO,UV Protection Aviator Sunglasses (54),₹223,86% off
7,GANSTA,UV Protection Aviator Sunglasses (57),₹314,84% off
8,kingsunglasses,UV Protection Round Sunglasses (54),₹194,80% off
9,VINCENT CHASE,"by Lenskart Polarized, UV Protection Rectangul...",₹749,62% off
10,ROYAL SON,Mirrored Aviator Sunglasses (55),₹379,74% off
11,Silver Kartz,UV Protection Clubmaster Sunglasses (53),₹313,79% off
12,CRYSTAL CART,"Polarized, UV Protection, Mirrored, Gradient R...",₹529,74% off
13,Rich Club,UV Protection Retro Square Sunglasses (54),₹265,62% off
14,ROYAL SON,Mirrored Aviator Sunglasses (55),₹379,74% off
15,ROYAL SON,"UV Protection, Polarized Round Sunglasses (54)",₹664,66% off
16,PHENOMENAL,UV Protection Retro Square Sunglasses (Free Size),₹360,81% off
17,ROZZETTA CRAFT,"UV Protection, Gradient Rectangular Sunglasses...",₹379,81% off
18,VINCENT CHASE,"by Lenskart Polarized, UV Protection Wayfarer ...",₹749,70% off
19,elegante,"Polarized, Riding Glasses, Night Vision Sports...",₹499,78% off
20,kingsunglasses,UV Protection Rectangular Sunglasses (55),₹189,85% off
21,ROZZETTA CRAFT,UV Protection Retro Square Sunglasses (Free Size),₹474,78% off
22,Fastrack,"Mirrored, UV Protection Wayfarer Sunglasses (F...",₹899,10% off
23,ROZZETTA CRAFT,UV Protection Spectacle Sunglasses (Free Size),₹379,81% off
24,SRPM,"Night Vision, UV Protection Round Sunglasses (54)",₹233,76% off
25,Elligator,"UV Protection, Riding Glasses Rectangular, Ret...",₹379,74% off
26,kingsunglasses,"Mirrored, UV Protection Wayfarer, Rectangular ...",₹289,85% off
27,PHENOMENAL,UV Protection Retro Square Sunglasses (53),₹339,66% off
28,Fastrack,UV Protection Shield Sunglasses (Free Size),₹719,20% off
29,Singco India,"Gradient, Toughened Glass Lens, UV Protection ...",₹598,80% off
30,New Specs,UV Protection Round Sunglasses (Free Size),₹268,79% off
31,ROYAL SON,"Polarized, UV Protection Aviator Sunglasses (57)",₹759,62% off
32,kingsunglasses,UV Protection Round Sunglasses (Free Size),₹329,79% off
33,New Specs,UV Protection Rectangular Sunglasses (Free Size),₹154,89% off
34,kingsunglasses,"Mirrored, UV Protection Wayfarer Sunglasses (F...",₹269,82% off
35,elegante,"Polarized, Riding Glasses, Night Vision Sports...",₹499,78% off
36,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹759,15% off
37,kingsunglasses,"UV Protection, Mirrored Aviator Sunglasses (Fr...",₹269,85% off
38,ROZZETTA CRAFT,"UV Protection, Gradient Round Sunglasses (Free...",₹379,81% off
39,povty,UV Protection Retro Square Sunglasses (Free Size),₹319,68% off

In [289]:
df3[0:20]

,Brands,Products Description,Price,Discount
0,AISLIN,"UV Protection, Gradient Oval Sunglasses (58)",₹498,67% off
1,Fastrack,UV Protection Wayfarer Sunglasses (55),₹735,8% off
2,Fastrack,UV Protection Shield Sunglasses (Free Size),₹809,10% off
3,Singco India,"Gradient, Toughened Glass Lens, UV Protection ...",₹598,80% off
4,PIRASO,UV Protection Butterfly Sunglasses (60),₹405,84% off
5,Lee Topper,UV Protection Round Sunglasses (Free Size),₹245,75% off
6,Fastrack,Polarized Retro Square Sunglasses (Free Size),₹639,20% off
7,PHENOMENAL,"UV Protection, Mirrored Retro Square Sunglasse...",₹369,81% off
8,New Specs,UV Protection Aviator Sunglasses (Free Size),₹214,86% off
9,VINCENT CHASE,"Polarized, UV Protection Round Sunglasses (51)","₹1,099",45% off
10,ROYAL SON,"Polarized, UV Protection Wayfarer Sunglasses (61)",₹664,66% off
11,Silver Kartz,UV Protection Clubmaster Sunglasses (53),₹313,79% off
12,Lee Topper,"Riding Glasses, Night Vision Wrap-around Sungl...",₹276,88% off
13,GANSTA,"UV Protection, Riding Glasses Aviator Sunglass...",₹314,84% off
14,Mi,Polarized Aviator Sunglasses (Free Size),₹899,25% off
15,PHENOMENAL,UV Protection Retro Square Sunglasses (Free Size),₹360,81% off
16,kingsunglasses,"Mirrored, UV Protection Wayfarer Sunglasses (53)",₹299,85% off
17,GANSTA,UV Protection Aviator Sunglasses (57),₹314,84% off
18,VINCENT CHASE,"by Lenskart Polarized, UV Protection Wayfarer ...",₹949,52% off
19,GANSTA,"UV Protection, Night Vision, Riding Glasses Av...",₹314,84% off

In [297]:
#scrapping the required details

start=0

end=3

for page in range(start,end):#for loop for scrapping 4 page

    brands=driver.find_elements("xpath",'//div[@class="_2WkVRV"]')#scraping brands name by class name='_2WkVRV'

for i in brands:

        brand.append(i.text)#appending the text in Brand list[

next_btn=driver.find_elements("xpath",'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')#scraping the list of buttons from the page

try:
    driver.get(next_btn[].get_attribute('href'))#getting the link from the list for next page

except:
    driver.get(next_btn[].get_attribute('href'))

SyntaxError: invalid syntax (616645405.py, line 18)

Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone.
This task will be done in following steps:
1. First get the webpage https://www.flipkart.com/
2. Enter “iphone 11” in “Search” field .
3. Then click the search button.
As shown in the above page you have to scrape the tick marked attributes.These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100 reviews

In [257]:
#let's first convert to web driver
driver  =  webdriver.Chrome(r'C:\Users\user\Downloads\chromedriver_win32 (1)\chromedriver.exe')

In [258]:
url =   'https://www.flipkart.com/'
driver.get(url)

In [259]:
search_for_products = driver.find_element("xpath",'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
search_for_products

In [260]:
search_for_products.send_keys("iphone 11")

In [261]:
search_btn =  driver.find_element("xpath",'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search_btn

In [262]:
search_btn.click()

In [265]:
url  =  'https://www.flipkart.com/apple-iphone-11-black-128-gb/p/itm8244e8d955aba?pid=MOBFWQ6BKRYBP5X8&lid=LSTMOBFWQ6BKRYBP5X8X0KYUG&marketplace=FLIPKART&q=iphone+11&store=tyy%2F4io&srno=s_1_2&otracker=search&otracker1=search&iid=bd8bdfa4-c90e-4e51-bd78-5a9a94a2e9c1.MOBFWQ6BKRYBP5X8.SEARCH&ssid=198kw3sv0g0000001657684339850&qH=f6cdfdaa9f3c23f3'
driver.get(url)

In [266]:
iphone_title  =  driver.find_elements("xpath",'//h1[@class="yhB1nd"]')
iphone_title

In [267]:
iphone  =  []

for i in iphone_title:
    iphone.append(i.text)
len(iphone)

1

In [268]:
iphone

['APPLE iPhone 11 (Black, 128 GB)']

In [269]:
rating  =  driver.find_elements("xpath",'//div[@class="_3LWZlK _1BLPMq"]')
len(rating)

10

In [270]:
ratings  =  []

for i in rating:
    ratings.append(i.text)
len(ratings)

10

In [271]:
ratings

['5', '5', '5', '', '', '', '', '', '', '']

In [272]:
review  =  driver.find_elements("xpath",'//p[@class="_2-N8zT"]')
len(review)

10

In [274]:
review_summary  =  []

for i in review:
    review_summary.append(i.text)
len(review_summary)

10

In [275]:
review_summary

['Simply awesome',
 'Perfect product!',
 'Best in the market!',
 '',
 '',
 '',
 '',
 '',
 '',
 '']

In [276]:
full_review =  driver.find_elements("xpath",'//div[@class="t-ZTKy"]')
len(full_review)

10

In [277]:
full_review

[<selenium.webdriver.remote.webelement.WebElement (session="ae584f53bec94a78337be85058e5c31e", element="69e73bd6-634e-429c-b33d-1714a8870ad9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ae584f53bec94a78337be85058e5c31e", element="97c9f25b-8309-4f1e-a671-8a5697b89f7a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ae584f53bec94a78337be85058e5c31e", element="0a1cffd7-c423-45cd-a2d7-bf6e134e0db8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ae584f53bec94a78337be85058e5c31e", element="eafc5816-8d73-44a1-ad1e-4a0d7fc5fca8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ae584f53bec94a78337be85058e5c31e", element="b14888b3-93ab-4738-8168-e1141919650d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ae584f53bec94a78337be85058e5c31e", element="13524ec0-692b-4f7a-91a5-647d3c9818fd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ae584f53bec94a78337be85058e5c31e", element="bbbbfbd4-bb3d-4700-b5f9-e9b64e251ea0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ae584f53bec94a78337be85058e5c31e", element="e4978e52-2088-4275-b750-e69fa447b4a6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ae584f53bec94a78337be85058e5c31e", element="336e71e7-475c-47ed-bf15-26986e711b9c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ae584f53bec94a78337be85058e5c31e", element="cd471db0-7b20-47fb-80f9-724697b96cab")>]

In [278]:
Full_reviews =  []

for i in full_review:
    Full_reviews.append(i.text)
len(Full_reviews)

10

In [279]:
Full_reviews

['Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'Great iPhone very snappy experience as apple kind. Upgraded from iPhone 7.\nPros\n-Camera top class\n- Battery top performed\n-Chipset no need to say as apple kind\n-Security as you expect from apple\n- Display super bright industry leading colour\naccuracy and super responsive\n-Build quality as expect from apple sturdy\npremium durable beautiful stylish.\n-Os most stable os in smartphone industry\n\nCons\n-No 5G\n-Display is not based on OLED technology\n-Charger headphones and 1 apple stic...\nREAD MORE',
 '',
 '',
 '',
 '',
 '',
 '',
 '']

In [280]:
len(ratings),len(review_summary),len(Full_reviews)

(10, 10, 10)

In [329]:
df =  pd.DataFrame()
df['Rating'] = ratings
df['Review Summary'] = review_summary
df['Full Review'] = Full_reviews
df[0:3]

,Rating,Review Summary,Full Review
0,5,Simply awesome,Really satisfied with the Product I received.....
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Best in the market!,Great iPhone very snappy experience as apple k...

In [302]:
url  =  'https://www.flipkart.com/apple-iphone-11-white-128-gb/p/itme32df47ea6742?pid=MOBFWQ6B7KKRXDDS&lid=LSTMOBFWQ6B7KKRXDDSUPVRTR&marketplace=FLIPKART&q=iphone+11&store=tyy%2F4io&srno=s_1_1&otracker=search&otracker1=search&iid=bd8bdfa4-c90e-4e51-bd78-5a9a94a2e9c1.MOBFWQ6B7KKRXDDS.SEARCH&ssid=k4fa5xb5ps0000001657703122327&qH=f6cdfdaa9f3c23f3'
driver.get(url)

In [303]:
iphone_title  =  driver.find_elements("xpath",'//h1[@class="yhB1nd"]')
iphone_title

In [304]:
iphone  =  []

for i in iphone_title:
    iphone.append(i.text)
len(iphone)

1

In [305]:
iphone

['APPLE iPhone 11 (White, 128 GB)']

In [307]:
rating  =  driver.find_elements("xpath",'//div[@class="_3LWZlK _1BLPMq"]')
len(rating)

10

In [308]:
ratings = []

for i in rating:
    ratings.append(i.text)
len(ratings)

10

In [309]:
ratings

['5', '5', '5', '', '', '', '', '', '', '']

In [310]:
review = driver.find_elements("xpath",'//p[@class="_2-N8zT"]')
len(review)

10

In [311]:
review_summary  =  []

for i in review:
    review_summary.append(i.text)
len(review_summary)

10

In [312]:
review_summary

['Simply awesome',
 'Perfect product!',
 'Best in the market!',
 '',
 '',
 '',
 '',
 '',
 '',
 '']

In [313]:
full_reviews  =  driver.find_elements("xpath",'//div[@class="t-ZTKy"]')
len(full_reviews)

10

In [314]:
full_review = []

for i in full_reviews:
    full_review.append(i.text)
len(full_review)

10

In [315]:
full_review

['Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'Great iPhone very snappy experience as apple kind. Upgraded from iPhone 7.\nPros\n-Camera top class\n- Battery top performed\n-Chipset no need to say as apple kind\n-Security as you expect from apple\n- Display super bright industry leading colour\naccuracy and super responsive\n-Build quality as expect from apple sturdy\npremium durable beautiful stylish.\n-Os most stable os in smartphone industry\n\nCons\n-No 5G\n-Display is not based on OLED technology\n-Charger headphones and 1 apple stic...\nREAD MORE',
 '',
 '',
 '',
 '',
 '',
 '',
 '']

In [316]:
len(ratings),len(review_summary),len(full_review)

(10, 10, 10)

In [328]:
df =  pd.DataFrame()
df['Rating'] = ratings
df['Review Summary'] = review_summary
df['Full Review'] = full_review
df[0:3]

,Rating,Review Summary,Full Review
0,5,Simply awesome,Really satisfied with the Product I received.....
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Best in the market!,Great iPhone very snappy experience as apple k...

In [321]:
url  =  'https://www.flipkart.com/search?q=iphone+11&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&as-pos=1&as-type=HISTORY'
driver.get(url)

In [322]:
iphone_list  =  driver.find_elements("xpath",'//div[@class="_4rR01T"]')
len(iphone_list)

24

In [326]:
iphone_lists=[]

for i in iphone_list:
    iphone_lists.append(i.text)
len(iphone_lists)

24

In [327]:
iphone_lists

['APPLE iPhone 11 (White, 128 GB)',
 'APPLE iPhone 11 (Purple, 128 GB)',
 'APPLE iPhone 11 (Black, 128 GB)',
 'APPLE iPhone 11 (Black, 64 GB)',
 'APPLE iPhone 11 (White, 64 GB)',
 'APPLE iPhone 11 (Green, 64 GB)',
 'APPLE iPhone 11 (Green, 128 GB)',
 'APPLE iPhone 11 (Red, 64 GB)',
 'APPLE iPhone 11 (Purple, 64 GB)',
 'APPLE iPhone 11 (Yellow, 64 GB)',
 'APPLE iPhone 11 (Red, 128 GB)',
 'APPLE iPhone 11 (Yellow, 128 GB)',
 'APPLE iPhone 6 (Gold, 32 GB)',
 'Apple iPhone 11 (White, 64 GB) (Includes EarPods, Power Adapter)',
 'Apple iPhone 11 (Yellow, 128 GB) (Includes EarPods, Power Adapter)',
 'Apple iPhone 11 (Black, 64 GB) (Includes EarPods, Power Adapter)',
 'APPLE iPhone 11 (Green, 256 GB)',
 'Apple iPhone 11 (Yellow, 64 GB) (Includes EarPods, Power Adapter)',
 'Apple iPhone 11 (Red, 256 GB) (Includes EarPods, Power Adapter)',
 'Apple iPhone 11 (Green, 64 GB) (Includes EarPods, Power Adapter)',
 'Apple iPhone 11 (Red, 64 GB) (Includes EarPods, Power Adapter)',
 'Apple iPhone 11 (Red, 128 GB) (Includes EarPods, Power Adapter)',
 'Apple iPhone 11 (Purple, 64 GB) (Includes EarPods, Power Adapter)',
 'Apple iPhone 11 (White, 256 GB) (Includes EarPods, Power Adapter)']

Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the
search field.
You have to scrape 4 attributes of each sneaker:
1. Brand
2. Product Description
3. Price

In [336]:
driver  =  webdriver.Chrome(r'C:\Users\user\Downloads\chromedriver_win32 (1)\chromedriver.exe')

In [338]:
url  =   'https://www.flipkart.com/'
driver.get(url)

In [339]:
search_for_products = driver.find_element("xpath",'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
search_for_products

In [341]:
search_for_products.send_keys('sneakers')

In [342]:
search_btn  =  driver.find_element("xpath",'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search_btn

In [343]:
search_btn.click()

In [344]:
brand  =  driver.find_elements("xpath",'//div[@class="_2WkVRV"]')
len(brand)

40

In [345]:
brands = []

for i in brand:
    brands.append(i.text)
len(brands)

40

In [351]:
brands

['WOODLAND',
 'BRUTON',
 'BRUTON',
 'Labbin',
 'URBANBOX',
 'Magnolia',
 'BIRDE',
 'aadi',
 'BIRDE',
 'BIRDE',
 'SFR',
 'PUMA',
 'Chevit',
 'KWIK FIT',
 'ONECENTRE',
 'HOTSTYLE',
 'corsac',
 'ASTEROID',
 'CLYMB',
 'BRUTON',
 'Noztile',
 'Kraasa',
 'SCATCHITE',
 'BIRDE',
 'Kraasa',
 'Kzaara',
 'PEXLO',
 'PUMA',
 'Layasa',
 'Kraasa',
 'PUMA',
 'D-SNEAKERZ',
 'Robbie jones',
 'BRUTON',
 'aadi',
 'Rzisbo',
 'BRUTON',
 'KNIGHT WALKERS',
 'Dizzler',
 'DUKE']

In [352]:
product  =  driver.find_elements("xpath",'//a[@class="IRpwTa"]')
len(product)

38

In [353]:
product_description = []

for i in product:
    product_description.append(i.text)
len(product_description)

38

In [354]:
product_description

['Sneakers For Men',
 'Modern Trendy Sneakers Shoes Sneakers For Men',
 'Modern Trendy Sneakers Shoes Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Stylish Comfortable Lightweight, Breathable Walking Sho...',
 'Sneakers For Men',
 'Stylish Comfortable Lightweight, Breathable Walking Sho...',
 'Sports Running Shoes Sneakers For Men',
 'Sneakers For Men',
 'Puma Smash v2 L Sneakers For Men',
 'Kwik FIT casual sneaker shoes and partywear shoes Casua...',
 'Super Stylish & Trendy Combo Pack of 02 Pairs Sneakers ...',
 'STR2 Sneakers For Men',
 'Sneakers For Men',
 'STYLISH MENS BLACK SNEAKER Sneakers For Men',
 "Original Luxury Branded Fashionable Men's Casual Walkin...",
 'Sneaker Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Casuals, Canvas, Partywear Sneakers For Men',
 'Sneakers Sneakers For Men',
 'Stylish Comfortable Lightweight, Breathable Casual Walk...',
 'Shark-41 Sneakers For Men',
 'Combo Pack of 3 Casual Shoes Sneakers For Men',
 'Sneakers For Men',
 'Puma Smash v2 L Sneakers For Men',
 'Sneakers For Men',
 'Series 7 Sneakers For Men',
 'ST Activate V2 Sneakers For Men',
 "Casual , Partywear Sneakers Shoes For Men's And Boys Wh...",
 'Casual Sneakers Canvas Shoes For Men Sneakers For Men',
 'Lattest Sneakers Shoe Sneakers For Men',
 'Lightweight Pack Of 1 Trendy Sneakers Sneakers For Men',
 'Sneakers For Men',
 'SS1100 Sneakers For Men',
 'Sneakers For Men']

In [355]:
price  =  driver.find_elements("xpath",'//div[@class="_30jeq3"]')
len(price)

40

In [356]:
price_of_product = []

for i in price:
    price_of_product.append(i.text)
len(price_of_product)

40

In [357]:
price_of_product

['₹2,096',
 '₹284',
 '₹299',
 '₹499',
 '₹178',
 '₹449',
 '₹378',
 '₹319',
 '₹335',
 '₹249',
 '₹289',
 '₹1,763',
 '₹397',
 '₹649',
 '₹299',
 '₹284',
 '₹499',
 '₹474',
 '₹284',
 '₹579',
 '₹299',
 '₹399',
 '₹479',
 '₹399',
 '₹335',
 '₹479',
 '₹707',
 '₹259',
 '₹1,982',
 '₹499',
 '₹479',
 '₹1,749',
 '₹299',
 '₹499',
 '₹269',
 '₹199',
 '₹464',
 '₹699',
 '₹449',
 '₹1,318']

In [358]:
discount  = driver.find_elements("xpath",'//div[@class="_3Ay6Sb"]')
len(discount)

40

In [360]:
discounts=[]
for i in discount:
    discounts.append(i.text)
discounts

['25% off',
 '78% off',
 '76% off',
 '50% off',
 '82% off',
 '55% off',
 '62% off',
 '68% off',
 '66% off',
 '75% off',
 '71% off',
 '49% off',
 '80% off',
 '65% off',
 '52% off',
 '71% off',
 '66% off',
 '76% off',
 '78% off',
 '61% off',
 '70% off',
 '80% off',
 '52% off',
 '60% off',
 '66% off',
 '52% off',
 '52% off',
 '74% off',
 '43% off',
 '50% off',
 '52% off',
 '50% off',
 '54% off',
 '50% off',
 '79% off',
 '66% off',
 '53% off',
 '65% off',
 '37% off',
 '60% off']

In [361]:
len(brands),len(product_description),len(price),len(discounts)

(40, 38, 40, 40)

In [398]:
df1  =  pd.DataFrame()
df1['Brand'] = brands
df1['Price']  =  price
df1['Discount'] = discounts
df1

             Brand                                              Price Discount
0            Xtoon  <selenium.webdriver.remote.webelement.WebEleme...  50% off
1          ZF Klub  <selenium.webdriver.remote.webelement.WebEleme...  60% off
2   luxury fashion  <selenium.webdriver.remote.webelement.WebEleme...  78% off
3             PUMA  <selenium.webdriver.remote.webelement.WebEleme...  50% off
4           Chevit  <selenium.webdriver.remote.webelement.WebEleme...  67% off
5         RapidBox  <selenium.webdriver.remote.webelement.WebEleme...  36% off
6           corsac  <selenium.webdriver.remote.webelement.WebEleme...  64% off
7             PUMA  <selenium.webdriver.remote.webelement.WebEleme...  40% off
8        DUNKASTON  <selenium.webdriver.remote.webelement.WebEleme...  70% off
9             PUMA  <selenium.webdriver.remote.webelement.WebEleme...  48% off
10           SPARX  <selenium.webdriver.remote.webelement.WebEleme...  15% off
11        RapidBox  <selenium.webdriver.remote.webelement.WebEleme...  40% off
12          Layasa  <selenium.webdriver.remote.webelement.WebEleme...  50% off
13    Robbie jones  <selenium.webdriver.remote.webelement.WebEleme...  50% off
14            Bata  <selenium.webdriver.remote.webelement.WebEleme...   2% off
15          Chevit  <selenium.webdriver.remote.webelement.WebEleme...  71% off
16        Nobelite  <selenium.webdriver.remote.webelement.WebEleme...  60% off
17        RapidBox  <selenium.webdriver.remote.webelement.WebEleme...  34% off
18            PUMA  <selenium.webdriver.remote.webelement.WebEleme...  40% off
19    K' Footlance  <selenium.webdriver.remote.webelement.WebEleme...  50% off
20           SPARX  <selenium.webdriver.remote.webelement.WebEleme...  15% off
21       BAUCHHAAR  <selenium.webdriver.remote.webelement.WebEleme...  55% off
22        HOTSTYLE  <selenium.webdriver.remote.webelement.WebEleme...  40% off
23  KNIGHT WALKERS  <selenium.webdriver.remote.webelement.WebEleme...  56% off
24     bacca bucci  <selenium.webdriver.remote.webelement.WebEleme...  53% off
25           ASIAN  <selenium.webdriver.remote.webelement.WebEleme...  37% off
26          BRUTON  <selenium.webdriver.remote.webelement.WebEleme...  76% off
27        LE GREEM  <selenium.webdriver.remote.webelement.WebEleme...  50% off
28       DUNKASTON  <selenium.webdriver.remote.webelement.WebEleme...  66% off
29    Robbie jones  <selenium.webdriver.remote.webelement.WebEleme...  50% off
30            Qtsy  <selenium.webdriver.remote.webelement.WebEleme...  50% off
31           HONEY  <selenium.webdriver.remote.webelement.WebEleme...  55% off
32           Echor  <selenium.webdriver.remote.webelement.WebEleme...  46% off
33            PUMA  <selenium.webdriver.remote.webelement.WebEleme...  40% off
34        HOTSTYLE  <selenium.webdriver.remote.webelement.WebEleme...  41% off
35          BRUTON  <selenium.webdriver.remote.webelement.WebEleme...  76% off
36          BRUTON  <selenium.webdriver.remote.webelement.WebEleme...  76% off
37           ASIAN  <selenium.webdriver.remote.webelement.WebEleme...  40% off
38         Bretton  <selenium.webdriver.remote.webelement.WebEleme...  74% off
39            PUMA  <selenium.webdriver.remote.webelement.WebEleme...  40% off

In [363]:
next_page_btn  =  driver.find_element("xpath",'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
next_page_btn

In [364]:
next_page_btn.click()

In [365]:
url =  'https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=2'
driver.get(url)

In [366]:
brand =  driver.find_elements("xpath",'//div[@class="_2WkVRV"]')
len(brand)

40

In [367]:
brands = []
for i in brand:
    brands.append(i.text)
len(brands)

40

In [368]:
brands

['Magnolia',
 'ASTEROID',
 'WHITE WALKERS',
 'SPARX',
 'Eiffel',
 'AMICO',
 'aadi',
 'PUMA',
 'Airland',
 'Numenzo',
 'Shoes Bank',
 'Airland',
 'Aragats',
 'Chevit',
 'LE GREEM',
 'India hub',
 'Numenzo',
 'luxury fashion',
 'BIRDE',
 'Stinson',
 'BRUTON',
 'Layasa',
 'Magnolia',
 'aadi',
 'ROCKFIELD',
 'U.S. POLO ASSN.',
 'PUMA',
 'aadi',
 'PUMA',
 'T-ROCK',
 'WHITE WALKERS',
 'URBANBOX',
 'WHITE WALKERS',
 'Roadster',
 'BRUTON',
 'Nobelite',
 'PEXLO',
 'Robbie jones',
 'PUMA',
 'Xtoon']

In [369]:
product =  driver.find_elements("xpath",'//a[@class="IRpwTa"]')
len(product)

35

In [370]:
product_description = []

for i in product:
    product_description.append(i.text)
len(product_description)

35

In [371]:
product_description

['Sneakers For Men',
 'Original Luxury Branded Black Fancy Casual Walking Part...',
 'Stylish & Trending Outdoor Walking Comfortable Sneakers...',
 'Men White Sneakers Sneakers For Men',
 'Sneakers For Men',
 'Mesh | Ultralightweight | Comfortable | Breathable Walk...',
 'Smash v2 L Sneakers For Men',
 '1259 smart black lace-ups sneakers for men Sneakers For...',
 '411 Casual Sneakers For Men',
 "White Sneaker For Men's/Boy's Sneakers For Men",
 'sneaker men red 1258 - 8 Sneakers For Men',
 'Casual Sneakers For Men',
 "Men's Combo Pack of 02 Shoes for Men Casual Sneakers Ou...",
 'Comfortable & Ultra Light Weight Sneaker Sneakers For M...',
 'Luxury Fashionable casual sneaker shoes Sneakers For Me...',
 'Sneakers For Men',
 'Luxury Fashionable casual sneaker shoes Sneakers For Me...',
 'Stylish Comfortable Lightweight, Breathable Walking Sho...',
 'Combo Pack Of 2 Latest Stylish Casual Shoes for Men Lac...',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'CLARKIN Sneakers For Men',
 'Trinity Sneakers For Men',
 'Sneakers For Men',
 'R78 Sneakers For Men',
 'Stylish Party Wear Casual Sneakers Shoes For Men Sneake...',
 'Stylish & Trending Outdoor Walking Comfortable Sneakers...',
 'Stylish & Trending Outdoor Walking Comfortable Sneakers...',
 'Sneakers For Men',
 'Exclusive Sneaker Shoes Sneakers For Men',
 'Combo Pack of 3 Casual Shoes, Sneakers For Men',
 'Casual Sneakers White Shoes For Men Sneakers For Men',
 "White casual, gym,training & Running sneakers for men's..."]

In [372]:
price = driver.find_elements("xpath",'//div[@class="_30jeq3"]')
len(price)

40

In [373]:
price_of_products = []
for i in price:
    price_of_products.append(i.text)
price_of_products

['₹449',
 '₹474',
 '₹599',
 '₹756',
 '₹469',
 '₹494',
 '₹799',
 '₹1,919',
 '₹239',
 '₹450',
 '₹297',
 '₹246',
 '₹521',
 '₹466',
 '₹499',
 '₹397',
 '₹539',
 '₹399',
 '₹419',
 '₹249',
 '₹566',
 '₹549',
 '₹424',
 '₹399',
 '₹284',
 '₹1,949',
 '₹2,020',
 '₹319',
 '₹2,339',
 '₹699',
 '₹599',
 '₹161',
 '₹599',
 '₹1,135',
 '₹299',
 '₹398',
 '₹592',
 '₹499',
 '₹1,899',
 '₹499']

In [375]:
discount  =  driver.find_elements("xpath",'//div[@class="_3Ay6Sb"]')
len(discount)

40

In [377]:
discounts=[]
for i in discount:
    discounts.append(i.text)
discounts

['55% off',
 '52% off',
 '50% off',
 '15% off',
 '53% off',
 '50% off',
 '60% off',
 '45% off',
 '52% off',
 '77% off',
 '70% off',
 '50% off',
 '47% off',
 '57% off',
 '50% off',
 '80% off',
 '82% off',
 '69% off',
 '58% off',
 '50% off',
 '77% off',
 '45% off',
 '57% off',
 '80% off',
 '71% off',
 '35% off',
 '42% off',
 '68% off',
 '41% off',
 '30% off',
 '50% off',
 '67% off',
 '50% off',
 '65% off',
 '76% off',
 '60% off',
 '75% off',
 '50% off',
 '36% off',
 '50% off']

In [378]:
len(brands),len(product_description),len(price),len(discounts)

(40, 35, 40, 40)

In [399]:
df2=pd.DataFrame()
df2['Brand']=brands
df2['Price']=price
df2['Discounts']=discounts
df2

,Brand,Price,Discounts
0,Xtoon,<selenium.webdriver.remote.webelement.WebEleme...,50% off
1,ZF Klub,<selenium.webdriver.remote.webelement.WebEleme...,60% off
2,luxury fashion,<selenium.webdriver.remote.webelement.WebEleme...,78% off
3,PUMA,<selenium.webdriver.remote.webelement.WebEleme...,50% off
4,Chevit,<selenium.webdriver.remote.webelement.WebEleme...,67% off
5,RapidBox,<selenium.webdriver.remote.webelement.WebEleme...,36% off
6,corsac,<selenium.webdriver.remote.webelement.WebEleme...,64% off
7,PUMA,<selenium.webdriver.remote.webelement.WebEleme...,40% off
8,DUNKASTON,<selenium.webdriver.remote.webelement.WebEleme...,70% off
9,PUMA,<selenium.webdriver.remote.webelement.WebEleme...,48% off
10,SPARX,<selenium.webdriver.remote.webelement.WebEleme...,15% off
11,RapidBox,<selenium.webdriver.remote.webelement.WebEleme...,40% off
12,Layasa,<selenium.webdriver.remote.webelement.WebEleme...,50% off
13,Robbie jones,<selenium.webdriver.remote.webelement.WebEleme...,50% off
14,Bata,<selenium.webdriver.remote.webelement.WebEleme...,2% off
15,Chevit,<selenium.webdriver.remote.webelement.WebEleme...,71% off
16,Nobelite,<selenium.webdriver.remote.webelement.WebEleme...,60% off
17,RapidBox,<selenium.webdriver.remote.webelement.WebEleme...,34% off
18,PUMA,<selenium.webdriver.remote.webelement.WebEleme...,40% off
19,K' Footlance,<selenium.webdriver.remote.webelement.WebEleme...,50% off
20,SPARX,<selenium.webdriver.remote.webelement.WebEleme...,15% off
21,BAUCHHAAR,<selenium.webdriver.remote.webelement.WebEleme...,55% off
22,HOTSTYLE,<selenium.webdriver.remote.webelement.WebEleme...,40% off
23,KNIGHT WALKERS,<selenium.webdriver.remote.webelement.WebEleme...,56% off
24,bacca bucci,<selenium.webdriver.remote.webelement.WebEleme...,53% off
25,ASIAN,<selenium.webdriver.remote.webelement.WebEleme...,37% off
26,BRUTON,<selenium.webdriver.remote.webelement.WebEleme...,76% off
27,LE GREEM,<selenium.webdriver.remote.webelement.WebEleme...,50% off
28,DUNKASTON,<selenium.webdriver.remote.webelement.WebEleme...,66% off
29,Robbie jones,<selenium.webdriver.remote.webelement.WebEleme...,50% off
30,Qtsy,<selenium.webdriver.remote.webelement.WebEleme...,50% off
31,HONEY,<selenium.webdriver.remote.webelement.WebEleme...,55% off
32,Echor,<selenium.webdriver.remote.webelement.WebEleme...,46% off
33,PUMA,<selenium.webdriver.remote.webelement.WebEleme...,40% off
34,HOTSTYLE,<selenium.webdriver.remote.webelement.WebEleme...,41% off
35,BRUTON,<selenium.webdriver.remote.webelement.WebEleme...,76% off
36,BRUTON,<selenium.webdriver.remote.webelement.WebEleme...,76% off
37,ASIAN,<selenium.webdriver.remote.webelement.WebEleme...,40% off
38,Bretton,<selenium.webdriver.remote.webelement.WebEleme...,74% off
39,PUMA,<selenium.webdriver.remote.webelement.WebEleme...,40% off

In [381]:
nxt_page_btn  =  driver.find_element("xpath",'/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]')
nxt_page_btn

In [382]:
nxt_page_btn.click()

In [383]:
brand  =  driver.find_elements("xpath",'//div[@class="_2WkVRV"]')
len(brand)

40

In [384]:
brands=[]
for i in brand:
    brands.append(i.text)
brands

['Xtoon',
 'ZF Klub',
 'luxury fashion',
 'PUMA',
 'Chevit',
 'RapidBox',
 'corsac',
 'PUMA',
 'DUNKASTON',
 'PUMA',
 'SPARX',
 'RapidBox',
 'Layasa',
 'Robbie jones',
 'Bata',
 'Chevit',
 'Nobelite',
 'RapidBox',
 'PUMA',
 "K' Footlance",
 'SPARX',
 'BAUCHHAAR',
 'HOTSTYLE',
 'KNIGHT WALKERS',
 'bacca bucci',
 'ASIAN',
 'BRUTON',
 'LE GREEM',
 'DUNKASTON',
 'Robbie jones',
 'Qtsy',
 'HONEY',
 'Echor',
 'PUMA',
 'HOTSTYLE',
 'BRUTON',
 'BRUTON',
 'ASIAN',
 'Bretton',
 'PUMA']

In [386]:
product = driver.find_elements("xpath",'//a[@class="IRpwTa"]')
len(product)

32

In [387]:
product_description=[]
for i in product:
    product_description.append(i.text)
product_description

["White casual, gym,training & Running sneakers for men's...",
 'Sneakers For Men',
 'Sneakers For Men',
 'Brave Sneakers For Men',
 'STYLISH MENS BLACK TRENDY SNEAKER FOR MENS Sneakers For...',
 'Blend Sneakers For Men',
 'Sneakers For Men',
 'Trinity Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Canvas Sneaker Sneakers For Men',
 'Unique & Perfect Collection Combo Pack of 02 Shoes for ...',
 'Blend Sneakers For Men',
 'Fashion and Stylish Soft Ultralight Lace Up Sneakers Ca...',
 'Canvas Casual Partywear Outdoor Sneakers Shoes For Mens...',
 'Sneakers For Men',
 'CR-1 Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Skypy-31 Walking Shoes,Training Shoes,Sneakers,Loafers,...',
 'Modern Trendy Sneakers Shoes Sneakers For Men',
 'Comfortable & Ultra Light Weight Sneaker Sneakers For M...',
 'Sneakers For Men',
 'Sneakers For Men',
 "Men's Sneakers Fashion Lightweight Running Shoes Tennis...",
 'x KL Seattle Sneakers For Men',
 'CR-1 Sneakers For Men',
 'Modern Trendy Sneakers Shoes Sneakers For Men',
 'Modern Trendy Sneakers Shoes Sneakers For Men',
 'WATERPROOF-05cFULLWHITE Sneakers For Men',
 'x KL Denver Sneakers For Men']

In [388]:
price  =  driver.find_elements("xpath",'//div[@class="_30jeq3"]')
len(price)

40

In [389]:
price_of_description = []
for i in price:
    price_of_description.append(i.text)
price_of_description

['₹499',
 '₹399',
 '₹426',
 '₹1,649',
 '₹589',
 '₹630',
 '₹529',
 '₹1,799',
 '₹449',
 '₹1,794',
 '₹643',
 '₹590',
 '₹499',
 '₹499',
 '₹487',
 '₹424',
 '₹398',
 '₹650',
 '₹1,799',
 '₹499',
 '₹756',
 '₹449',
 '₹295',
 '₹648',
 '₹1,399',
 '₹498',
 '₹299',
 '₹499',
 '₹499',
 '₹499',
 '₹249',
 '₹449',
 '₹539',
 '₹2,699',
 '₹292',
 '₹299',
 '₹299',
 '₹599',
 '₹251',
 '₹2,399']

In [391]:
discount = driver.find_elements("xpath",'//div[@class="_3Ay6Sb"]')
len(discount)

40

In [392]:
discounts=[]
for i in discount:
    discounts.append(i.text)
len(discounts)

40

In [393]:
discounts

['50% off',
 '60% off',
 '78% off',
 '50% off',
 '67% off',
 '36% off',
 '64% off',
 '40% off',
 '70% off',
 '48% off',
 '15% off',
 '40% off',
 '50% off',
 '50% off',
 '2% off',
 '71% off',
 '60% off',
 '34% off',
 '40% off',
 '50% off',
 '15% off',
 '55% off',
 '40% off',
 '56% off',
 '53% off',
 '37% off',
 '76% off',
 '50% off',
 '66% off',
 '50% off',
 '50% off',
 '55% off',
 '46% off',
 '40% off',
 '41% off',
 '76% off',
 '76% off',
 '40% off',
 '74% off',
 '40% off']

In [394]:
len(brands),len(product_description),len(price),len(discounts)

(40, 32, 40, 40)

In [400]:
df3=pd.DataFrame()
df3['Brand']=brands
df3['Price']=price
df3['Discount']=discounts

In [401]:
df3

             Brand                                              Price Discount
0            Xtoon  <selenium.webdriver.remote.webelement.WebEleme...  50% off
1          ZF Klub  <selenium.webdriver.remote.webelement.WebEleme...  60% off
2   luxury fashion  <selenium.webdriver.remote.webelement.WebEleme...  78% off
3             PUMA  <selenium.webdriver.remote.webelement.WebEleme...  50% off
4           Chevit  <selenium.webdriver.remote.webelement.WebEleme...  67% off
5         RapidBox  <selenium.webdriver.remote.webelement.WebEleme...  36% off
6           corsac  <selenium.webdriver.remote.webelement.WebEleme...  64% off
7             PUMA  <selenium.webdriver.remote.webelement.WebEleme...  40% off
8        DUNKASTON  <selenium.webdriver.remote.webelement.WebEleme...  70% off
9             PUMA  <selenium.webdriver.remote.webelement.WebEleme...  48% off
10           SPARX  <selenium.webdriver.remote.webelement.WebEleme...  15% off
11        RapidBox  <selenium.webdriver.remote.webelement.WebEleme...  40% off
12          Layasa  <selenium.webdriver.remote.webelement.WebEleme...  50% off
13    Robbie jones  <selenium.webdriver.remote.webelement.WebEleme...  50% off
14            Bata  <selenium.webdriver.remote.webelement.WebEleme...   2% off
15          Chevit  <selenium.webdriver.remote.webelement.WebEleme...  71% off
16        Nobelite  <selenium.webdriver.remote.webelement.WebEleme...  60% off
17        RapidBox  <selenium.webdriver.remote.webelement.WebEleme...  34% off
18            PUMA  <selenium.webdriver.remote.webelement.WebEleme...  40% off
19    K' Footlance  <selenium.webdriver.remote.webelement.WebEleme...  50% off
20           SPARX  <selenium.webdriver.remote.webelement.WebEleme...  15% off
21       BAUCHHAAR  <selenium.webdriver.remote.webelement.WebEleme...  55% off
22        HOTSTYLE  <selenium.webdriver.remote.webelement.WebEleme...  40% off
23  KNIGHT WALKERS  <selenium.webdriver.remote.webelement.WebEleme...  56% off
24     bacca bucci  <selenium.webdriver.remote.webelement.WebEleme...  53% off
25           ASIAN  <selenium.webdriver.remote.webelement.WebEleme...  37% off
26          BRUTON  <selenium.webdriver.remote.webelement.WebEleme...  76% off
27        LE GREEM  <selenium.webdriver.remote.webelement.WebEleme...  50% off
28       DUNKASTON  <selenium.webdriver.remote.webelement.WebEleme...  66% off
29    Robbie jones  <selenium.webdriver.remote.webelement.WebEleme...  50% off
30            Qtsy  <selenium.webdriver.remote.webelement.WebEleme...  50% off
31           HONEY  <selenium.webdriver.remote.webelement.WebEleme...  55% off
32           Echor  <selenium.webdriver.remote.webelement.WebEleme...  46% off
33            PUMA  <selenium.webdriver.remote.webelement.WebEleme...  40% off
34        HOTSTYLE  <selenium.webdriver.remote.webelement.WebEleme...  41% off
35          BRUTON  <selenium.webdriver.remote.webelement.WebEleme...  76% off
36          BRUTON  <selenium.webdriver.remote.webelement.WebEleme...  76% off
37           ASIAN  <selenium.webdriver.remote.webelement.WebEleme...  40% off
38         Bretton  <selenium.webdriver.remote.webelement.WebEleme...  74% off
39            PUMA  <selenium.webdriver.remote.webelement.WebEleme...  40% off

In [397]:
df[0:20]

             Brand                                              Price Discount
0            Xtoon  <selenium.webdriver.remote.webelement.WebEleme...  50% off
1          ZF Klub  <selenium.webdriver.remote.webelement.WebEleme...  60% off
2   luxury fashion  <selenium.webdriver.remote.webelement.WebEleme...  78% off
3             PUMA  <selenium.webdriver.remote.webelement.WebEleme...  50% off
4           Chevit  <selenium.webdriver.remote.webelement.WebEleme...  67% off
5         RapidBox  <selenium.webdriver.remote.webelement.WebEleme...  36% off
6           corsac  <selenium.webdriver.remote.webelement.WebEleme...  64% off
7             PUMA  <selenium.webdriver.remote.webelement.WebEleme...  40% off
8        DUNKASTON  <selenium.webdriver.remote.webelement.WebEleme...  70% off
9             PUMA  <selenium.webdriver.remote.webelement.WebEleme...  48% off
10           SPARX  <selenium.webdriver.remote.webelement.WebEleme...  15% off
11        RapidBox  <selenium.webdriver.remote.webelement.WebEleme...  40% off
12          Layasa  <selenium.webdriver.remote.webelement.WebEleme...  50% off
13    Robbie jones  <selenium.webdriver.remote.webelement.WebEleme...  50% off
14            Bata  <selenium.webdriver.remote.webelement.WebEleme...   2% off
15          Chevit  <selenium.webdriver.remote.webelement.WebEleme...  71% off
16        Nobelite  <selenium.webdriver.remote.webelement.WebEleme...  60% off
17        RapidBox  <selenium.webdriver.remote.webelement.WebEleme...  34% off
18            PUMA  <selenium.webdriver.remote.webelement.WebEleme...  40% off
19    K' Footlance  <selenium.webdriver.remote.webelement.WebEleme...  50% off

In [404]:
df= df1

In [405]:
df=df2.join

In [406]:
df

<bound method DataFrame.join of              Brand                                              Price  \
0            Xtoon  <selenium.webdriver.remote.webelement.WebEleme...
1          ZF Klub  <selenium.webdriver.remote.webelement.WebEleme...
2   luxury fashion  <selenium.webdriver.remote.webelement.WebEleme...
3             PUMA  <selenium.webdriver.remote.webelement.WebEleme...
4           Chevit  <selenium.webdriver.remote.webelement.WebEleme...
5         RapidBox  <selenium.webdriver.remote.webelement.WebEleme...
6           corsac  <selenium.webdriver.remote.webelement.WebEleme...
7             PUMA  <selenium.webdriver.remote.webelement.WebEleme...
8        DUNKASTON  <selenium.webdriver.remote.webelement.WebEleme...
9             PUMA  <selenium.webdriver.remote.webelement.WebEleme...
10           SPARX  <selenium.webdriver.remote.webelement.WebEleme...
11        RapidBox  <selenium.webdriver.remote.webelement.WebEleme...
12          Layasa  <selenium.webdriver.remote.webelement.WebEleme...
13    Robbie jones  <selenium.webdriver.remote.webelement.WebEleme...
14            Bata  <selenium.webdriver.remote.webelement.WebEleme...
15          Chevit  <selenium.webdriver.remote.webelement.WebEleme...
16        Nobelite  <selenium.webdriver.remote.webelement.WebEleme...
17        RapidBox  <selenium.webdriver.remote.webelement.WebEleme...
18            PUMA  <selenium.webdriver.remote.webelement.WebEleme...
19    K' Footlance  <selenium.webdriver.remote.webelement.WebEleme...
20           SPARX  <selenium.webdriver.remote.webelement.WebEleme...
21       BAUCHHAAR  <selenium.webdriver.remote.webelement.WebEleme...
22        HOTSTYLE  <selenium.webdriver.remote.webelement.WebEleme...
23  KNIGHT WALKERS  <selenium.webdriver.remote.webelement.WebEleme...
24     bacca bucci  <selenium.webdriver.remote.webelement.WebEleme...
25           ASIAN  <selenium.webdriver.remote.webelement.WebEleme...
26          BRUTON  <selenium.webdriver.remote.webelement.WebEleme...
27        LE GREEM  <selenium.webdriver.remote.webelement.WebEleme...
28       DUNKASTON  <selenium.webdriver.remote.webelement.WebEleme...
29    Robbie jones  <selenium.webdriver.remote.webelement.WebEleme...
30            Qtsy  <selenium.webdriver.remote.webelement.WebEleme...
31           HONEY  <selenium.webdriver.remote.webelement.WebEleme...
32           Echor  <selenium.webdriver.remote.webelement.WebEleme...
33            PUMA  <selenium.webdriver.remote.webelement.WebEleme...
34        HOTSTYLE  <selenium.webdriver.remote.webelement.WebEleme...
35          BRUTON  <selenium.webdriver.remote.webelement.WebEleme...
36          BRUTON  <selenium.webdriver.remote.webelement.WebEleme...
37           ASIAN  <selenium.webdriver.remote.webelement.WebEleme...
38         Bretton  <selenium.webdriver.remote.webelement.WebEleme...
39            PUMA  <selenium.webdriver.remote.webelement.WebEleme...

   Discounts
0    50% off
1    60% off
2    78% off
3    50% off
4    67% off
5    36% off
6    64% off
7    40% off
8    70% off
9    48% off
10   15% off
11   40% off
12   50% off
13   50% off
14    2% off
15   71% off
16   60% off
17   34% off
18   40% off
19   50% off
20   15% off
21   55% off
22   40% off
23   56% off
24   53% off
25   37% off
26   76% off
27   50% off
28   66% off
29   50% off
30   50% off
31   55% off
32   46% off
33   40% off
34   41% off
35   76% off
36   76% off
37   40% off
38   74% off
39   40% off  >

In [407]:
df=df3

In [408]:
df

             Brand                                              Price Discount
0            Xtoon  <selenium.webdriver.remote.webelement.WebEleme...  50% off
1          ZF Klub  <selenium.webdriver.remote.webelement.WebEleme...  60% off
2   luxury fashion  <selenium.webdriver.remote.webelement.WebEleme...  78% off
3             PUMA  <selenium.webdriver.remote.webelement.WebEleme...  50% off
4           Chevit  <selenium.webdriver.remote.webelement.WebEleme...  67% off
5         RapidBox  <selenium.webdriver.remote.webelement.WebEleme...  36% off
6           corsac  <selenium.webdriver.remote.webelement.WebEleme...  64% off
7             PUMA  <selenium.webdriver.remote.webelement.WebEleme...  40% off
8        DUNKASTON  <selenium.webdriver.remote.webelement.WebEleme...  70% off
9             PUMA  <selenium.webdriver.remote.webelement.WebEleme...  48% off
10           SPARX  <selenium.webdriver.remote.webelement.WebEleme...  15% off
11        RapidBox  <selenium.webdriver.remote.webelement.WebEleme...  40% off
12          Layasa  <selenium.webdriver.remote.webelement.WebEleme...  50% off
13    Robbie jones  <selenium.webdriver.remote.webelement.WebEleme...  50% off
14            Bata  <selenium.webdriver.remote.webelement.WebEleme...   2% off
15          Chevit  <selenium.webdriver.remote.webelement.WebEleme...  71% off
16        Nobelite  <selenium.webdriver.remote.webelement.WebEleme...  60% off
17        RapidBox  <selenium.webdriver.remote.webelement.WebEleme...  34% off
18            PUMA  <selenium.webdriver.remote.webelement.WebEleme...  40% off
19    K' Footlance  <selenium.webdriver.remote.webelement.WebEleme...  50% off
20           SPARX  <selenium.webdriver.remote.webelement.WebEleme...  15% off
21       BAUCHHAAR  <selenium.webdriver.remote.webelement.WebEleme...  55% off
22        HOTSTYLE  <selenium.webdriver.remote.webelement.WebEleme...  40% off
23  KNIGHT WALKERS  <selenium.webdriver.remote.webelement.WebEleme...  56% off
24     bacca bucci  <selenium.webdriver.remote.webelement.WebEleme...  53% off
25           ASIAN  <selenium.webdriver.remote.webelement.WebEleme...  37% off
26          BRUTON  <selenium.webdriver.remote.webelement.WebEleme...  76% off
27        LE GREEM  <selenium.webdriver.remote.webelement.WebEleme...  50% off
28       DUNKASTON  <selenium.webdriver.remote.webelement.WebEleme...  66% off
29    Robbie jones  <selenium.webdriver.remote.webelement.WebEleme...  50% off
30            Qtsy  <selenium.webdriver.remote.webelement.WebEleme...  50% off
31           HONEY  <selenium.webdriver.remote.webelement.WebEleme...  55% off
32           Echor  <selenium.webdriver.remote.webelement.WebEleme...  46% off
33            PUMA  <selenium.webdriver.remote.webelement.WebEleme...  40% off
34        HOTSTYLE  <selenium.webdriver.remote.webelement.WebEleme...  41% off
35          BRUTON  <selenium.webdriver.remote.webelement.WebEleme...  76% off
36          BRUTON  <selenium.webdriver.remote.webelement.WebEleme...  76% off
37           ASIAN  <selenium.webdriver.remote.webelement.WebEleme...  40% off
38         Bretton  <selenium.webdriver.remote.webelement.WebEleme...  74% off
39            PUMA  <selenium.webdriver.remote.webelement.WebEleme...  40% off

Q7: Go to the link - https://www.myntra.com/shoes
Set second Price filter and Color filter to “Black”.
And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe
description, price of the shoe.
Note: Applying the filter and scraping the data, everything should be done through code only and there
should not be any manual step.

In [414]:
from selenium import webdriver
import urllib.request
import os
import json

In [415]:
driver  =  webdriver.Chrome(r'C:\Users\user\Downloads\chromedriver_win32 (1)\chromedriver.exe')

In [416]:
url = 'https://www.myntra.com/shoes'
driver.get(url)

# UNABLE TO SCRAPE MYNTRA
   
   so, i can't do question no. 7

Q8: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7”
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop:
1. Title
2. Ratings
3. Price


Note: All the steps required during scraping should be done through code only and not manually.

In [417]:
driver  =  webdriver.Chrome(r'C:\Users\user\Downloads\chromedriver_win32 (1)\chromedriver.exe')

In [418]:
url = ' https://www.amazon.in/'
driver.get(url)

In [419]:
search_field  = driver.find_element("xpath",'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
search_field

In [420]:
search_field.send_keys("Laptop")

In [421]:
search_btn  =  driver.find_element("xpath",'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
search_btn

In [422]:
search_btn.click()

In [423]:
CPU_type  =  driver.find_element("xpath",'/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[5]/ul[2]/li[13]/span/a/div/label/i')
CPU_type.click()

In [424]:
Laptop_title  =  driver.find_elements("xpath",'//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]')
len(Laptop_title)

24

In [425]:
laptop_title=[]
for i in Laptop_title:
    laptop_title.append(i.text)
len(laptop_title)

24

In [427]:
laptop_title[0:10]

['ASUS TUF Gaming F15 (2021), 15.6" (39.62 cms) FHD 144Hz, Intel Core i7-11600H 11th Gen, 4GB RTX 3050 Graphics, Gaming Laptop (16GB/512GB SSD/Windows 10/Office 2019/Gray/2.3 Kg), FX566HCB-HN299TS',
 'ASUS Vivobook 15, 15.6-inch (39.62 cms) FHD, Intel Core i7-1065G7 10th Gen, Thin and Light Laptop (16GB/512GB SSD/Iris Plus Graphics/Windows 11/Office 2021/Silver/1.8 kg), X515JA-EJ701WS',
 'Lenovo ThinkBook 15 Intel 11th Gen Core i7 15.6"(39.62 cm)FHD Thin and Light Laptop (16GB/512GB SSD/Windows 11 Home/MS Office H&S 2021/Iris® Xe Graphics/Backlit/Mineral Grey/1.7 Kg) 20VE00W4IH',
 'Infinix INBook X1 Pro Core i7 10th Gen - (16 GB/512 GB SSD/Windows 11 Home) XL12 Thin and Light Laptop (14 Inch, Noble Red, 1.48 kg)',
 'Lenovo IdeaPad Slim 5 Pro Intel Core i7 11th Gen 14" (35.56cm) 2.2K IPS Thin & Light Laptop (16GB/512GB SSD/Win11/Office 2021/Backlit/3Yr Warranty/3months Game Pass/Storm Grey/1.38Kg), 82L3006YIN',
 'Hp Pavilion 15 12Th Gen Intel Core I7 16Gb Sdram/1Tb Ssd 15.6 Inches (39.6Cm) Fhd,IPS/Intel Iris Xe Graphics/B&O/Windows 11 Home/Alexa/Backlit Kb/Fpr/Mso 2021/1.75Kg, 15-Eg2039Tu, Natural Silver',
 'ASUS Zenbook 14 OLED (2022), 14" (35.56 cms) 2.8K OLED 16:10 90Hz, Intel Core Evo i7-1260P 12th Gen, Thin and Light Laptop (16GB/512GB SSD/Windows 11/Office 2021/Blue/1.39 kg), UX3402ZA-KM731WS',
 'Mi Notebook Horizon Edition 14 Intel Core i7-10510U 10th Gen Thin and Light Laptop(8GB/512GB SSD/Windows 10/Nvidia MX350 2GB Graphics/Grey/1.35Kg)(Without Webcam) XMA1904-AF',
 'Samsung Galaxy Book2 Intel 12th Gen core i7 39.6cm (15.6") FHD LED Thin & Light Laptop (16 GB/512 GB SSD/Windows 11/MS Office/Backlit Keyboard/Fingerprint Reader/Silver/1.55Kg), NP750XED-KC2IN',
 'Lenovo ThinkPad E14 Intel Core i7 11th Gen 14-inch (35.56cm) FHD TN Antiglare Thin and Light Laptop (16GB RAM/512GB SSD/Windows 11 Home/Microsoft Office H&S 2021/FPR/Black/1.59 kg), 20TAS1B400']

In [428]:
len(laptop_title)

24

In [431]:
df=pd.DataFrame()
df['Title']=laptop_title
df[0:10]

                                               Title
0  ASUS TUF Gaming F15 (2021), 15.6" (39.62 cms) ...
1  ASUS Vivobook 15, 15.6-inch (39.62 cms) FHD, I...
2  Lenovo ThinkBook 15 Intel 11th Gen Core i7 15....
3  Infinix INBook X1 Pro Core i7 10th Gen - (16 G...
4  Lenovo IdeaPad Slim 5 Pro Intel Core i7 11th G...
5  Hp Pavilion 15 12Th Gen Intel Core I7 16Gb Sdr...
6  ASUS Zenbook 14 OLED (2022), 14" (35.56 cms) 2...
7  Mi Notebook Horizon Edition 14 Intel Core i7-1...
8  Samsung Galaxy Book2 Intel 12th Gen core i7 39...
9  Lenovo ThinkPad E14 Intel Core i7 11th Gen 14-...

In [433]:
ratings = driver.find_elements("xpath",'//i[@class="a-icon a-icon-star-small a-star-small-4-5 aok-align-bottom"]')
len(ratings)

3

In [434]:
rating=[]
for i in ratings:
    rating.append(i.text)
rating

['', '', '']

In [439]:
price_of_laptop =  driver.find_elements("xpath",'//span[@class="a-price"]')
len(price_of_laptop)

24

In [440]:
price = []
for i in price_of_laptop:
    price.append(i.text)
price

['₹89,990',
 '₹57,890',
 '₹86,990',
 '₹53,999',
 '₹75,990',
 '₹87,900',
 '₹1,07,794',
 '₹58,950',
 '₹79,990',
 '₹94,990',
 '₹82,990',
 '₹56,995',
 '₹38,325',
 '₹86,990',
 '₹39,178',
 '₹55,895',
 '₹40,082',
 '₹60,990',
 '₹51,490',
 '₹94,990',
 '₹57,999',
 '₹25,690',
 '₹38,998',
 '₹33,890']

In [444]:
len(price),len(laptop_title),len(ratings)

(24, 24, 3)

In [445]:
df = pd.DataFrame()
df['Title']=laptop_title
df['Price']=price
df[0:10]

                                               Title      Price
0  ASUS TUF Gaming F15 (2021), 15.6" (39.62 cms) ...    ₹89,990
1  ASUS Vivobook 15, 15.6-inch (39.62 cms) FHD, I...    ₹57,890
2  Lenovo ThinkBook 15 Intel 11th Gen Core i7 15....    ₹86,990
3  Infinix INBook X1 Pro Core i7 10th Gen - (16 G...    ₹53,999
4  Lenovo IdeaPad Slim 5 Pro Intel Core i7 11th G...    ₹75,990
5  Hp Pavilion 15 12Th Gen Intel Core I7 16Gb Sdr...    ₹87,900
6  ASUS Zenbook 14 OLED (2022), 14" (35.56 cms) 2...  ₹1,07,794
7  Mi Notebook Horizon Edition 14 Intel Core i7-1...    ₹58,950
8  Samsung Galaxy Book2 Intel 12th Gen core i7 39...    ₹79,990
9  Lenovo ThinkPad E14 Intel Core i7 11th Gen 14-...    ₹94,990

Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida
location. You have to scrape company name, No. of days ago when job was posted, Rating of the company.
This task will be done in following steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the Job option as shown in the image
3. After reaching to the next webpage, In place of “Search by Designations, Companies, Skills” enter
“Data Scientist” and click on search button.
4. You will reach to the following web page click on location and in place of “Search location” enter
“Noida” and select location “Noida”.
5. Then scrape the data for the first 10 jobs results you get on the above shown page.
6. Finally create a dataframe of the scraped data.
Note: All the steps required during scraping should be done through code only and not manually.

In [446]:
driver  =  webdriver.Chrome(r'C:\Users\user\Downloads\chromedriver_win32 (1)\chromedriver.exe')

In [447]:
url  =  'https://www.ambitionbox.com/'
driver.get(url)

In [448]:
job_option = driver.find_element("xpath",'/html/body/div[1]/nav/nav/a[6]')
job_option

In [449]:
job_option.click()

In [450]:
search_by_designations = driver.find_element("xpath",'/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/div/span/input')
search_by_designations

In [451]:
search_by_designations.send_keys('Data Scientist')

In [452]:
search_btn =  driver.find_element("xpath",'/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/button')
search_btn

In [453]:
search_btn.click()

In [454]:
search_locn  =  driver.find_element("xpath",'/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input')
search_locn

In [455]:
search_locn.click()

In [456]:
locn_noida = driver.find_element("xpath",'/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label')
locn_noida

In [457]:
locn_noida.click()

In [458]:
job_title =  driver.find_elements("xpath",'//a[@class="title noclick"]')
len(job_title)

10

In [459]:
job_titles=[]
for i in job_title:
    job_titles.append(i.text)
job_titles

['Senior Data Scientist',
 'Data Scientist- Forecasting and R or Python',
 'Data Scientist - Machine Learning Algorithms (3-8 yrs)',
 'Data Scientist - Machine Learning/Big Data (0-4 yrs)',
 'Info Edge - Data Scientist - Machine Learning/NLP (0-2 yrs)',
 'Info Edge - Senior Data Scientist - Machine Learning/Deep Learning (3-5 yrs)',
 'LatentBridge - Data Scientist - Python/R (2-6 yrs)',
 'Data Science Trainer | AI | Machine Learning | Python |',
 'Principal Scientist - Machine Learning - IT (15-26 yrs)',
 'Data Scientist - NLP']

In [460]:
company_name = driver.find_elements("xpath",'//p[@class="company body-medium"]')
len(company_name)

10

In [461]:
company_names=[]
for i in company_name:
    company_names.append(i.text)
company_names

['Optum Global Solutions (India) Private Limited',
 'GENPACT India Private Limited',
 'Dew Solutions Pvt. Ltd.',
 'InfoEdge India Ltd.',
 'Info Edge India Limited',
 'Info Edge India Limited',
 'Latent bridge',
 'Careerera',
 'Careernet Consulting',
 'Acidaes Solutions Pvt. Ltd.']

In [464]:
rating =  driver.find_elements("xpath",'//span[@class="body-small"]')
len(rating)

10

In [465]:
ratings=[]
for i in rating:
    ratings.append(i.text)
ratings

['4.1', '4.0', '4.3', '3.9', '3.9', '3.9', '4.5', '3.8', '3.9', '3.8']

In [467]:
review = driver.find_elements("xpath",'//a[@class="review-count caption-strong-medium"]')
len(review)

10

In [468]:
reviews=[]
for i in review:
    reviews.append(i.text)
reviews

['(1.9k Reviews)',
 '(20k Reviews)',
 '(80 Reviews)',
 '(1.7k Reviews)',
 '(1.7k Reviews)',
 '(1.7k Reviews)',
 '(54 Reviews)',
 '(100 Reviews)',
 '(288 Reviews)',
 '(103 Reviews)']

In [469]:
len(job_titles),len(company_names),len(ratings),len(reviews)

(10, 10, 10, 10)

In [470]:
df = pd.DataFrame()
df['Title']=job_titles
df['Company']=company_names
df['Rating']=ratings
df['Review']=review
df

,Title,Company,Rating,Review
0,Senior Data Scientist,Optum Global Solutions (India) Private Limited,4.1,<selenium.webdriver.remote.webelement.WebEleme...
1,Data Scientist- Forecasting and R or Python,GENPACT India Private Limited,4.0,<selenium.webdriver.remote.webelement.WebEleme...
2,Data Scientist - Machine Learning Algorithms (...,Dew Solutions Pvt. Ltd.,4.3,<selenium.webdriver.remote.webelement.WebEleme...
3,Data Scientist - Machine Learning/Big Data (0-...,InfoEdge India Ltd.,3.9,<selenium.webdriver.remote.webelement.WebEleme...
4,Info Edge - Data Scientist - Machine Learning/...,Info Edge India Limited,3.9,<selenium.webdriver.remote.webelement.WebEleme...
5,Info Edge - Senior Data Scientist - Machine Le...,Info Edge India Limited,3.9,<selenium.webdriver.remote.webelement.WebEleme...
6,LatentBridge - Data Scientist - Python/R (2-6 ...,Latent bridge,4.5,<selenium.webdriver.remote.webelement.WebEleme...
7,Data Science Trainer | AI | Machine Learning |...,Careerera,3.8,<selenium.webdriver.remote.webelement.WebEleme...
8,Principal Scientist - Machine Learning - IT (1...,Careernet Consulting,3.9,<selenium.webdriver.remote.webelement.WebEleme...
9,Data Scientist - NLP,Acidaes Solutions Pvt. Ltd.,3.8,<selenium.webdriver.remote.webelement.WebEleme...

Q10: Write a python program to scrape the salary data for Data Scientist designation.
You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary.
The above task will be, done as shown in the below steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the salaries option
3. After reaching to the following webpage, In place of “Search Job Profile” enters “Data Scientist” and
then click on “Data Scientist”.
4. Scrape the data for the first 10 companies. Scrape the company name, total salary record, average
salary, minimum salary, maximum salary, experience required.
5. Store the data in a dataframe.


Note: All the steps required during scraping should be done through code only and not manually.

In [483]:
driver  =  webdriver.Chrome(r'C:\Users\user\Downloads\chromedriver_win32 (1)\chromedriver.exe')

In [484]:
url = 'https://www.ambitionbox.com/'
driver.get(url)

In [485]:
salaries_option = driver.find_element("xpath",'/html/body/div[1]/nav/nav/a[4]')
salaries_option

In [486]:
salaries_option.click()

In [487]:
search_job_profile =  driver.find_element("xpath",'/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input')
search_job_profile

In [488]:
search_job_profile.send_keys('Data Scientist')

In [491]:
search_job_profile.click()

In [499]:
company = driver.find_elements("xpath",'//div[@class="company-info"]')
len(company)

25

In [500]:
company_name = []
for i in company:
    company_name.append(i.text)
len(company_name)

25

In [501]:
company_name

['Walmart\nData Scientist Salary\n3 yrs experience (based on 12 salaries)',
 'Ab Inbev\nData Scientist Salary\n3-4 yrs experience (based on 33 salaries)',
 'ZS\nData Scientist Salary\n2 yrs experience (based on 15 salaries)',
 'Optum\nData Scientist Salary\n3-4 yrs experience (based on 32 salaries)',
 'Reliance Jio\nData Scientist Salary\n3-4 yrs experience (based on 21 salaries)',
 'Fractal Analytics\nData Scientist Salary\n2-4 yrs experience (based on 89 salaries)',
 'Tiger Analytics\nData Scientist Salary\n2-4 yrs experience (based on 51 salaries)',
 'UnitedHealth\nData Scientist Salary\n2-4 yrs experience (based on 57 salaries)',
 'EXL Service\nData Scientist Salary\n3-4 yrs experience (based on 21 salaries)',
 'Deloitte\nData Scientist Salary\n2-4 yrs experience (based on 69 salaries)',
 'TCS\n3.1\nSalary Rating \n42k reviews',
 'Cognizant\n3.4\nSalary Rating \n26.5k reviews',
 'Accenture\n3.7\nSalary Rating \n29.5k reviews',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '']

In [502]:
experience_year  =  driver.find_elements("xpath",'//div[@class="sbold-list-header"]')
len(experience_year)

10

In [503]:
experience=[]
for i in experience_year:
    experience.append(i.text)
len(experience)

10

In [504]:
experience

['3 yrs experience (based on 12 salaries)',
 '3-4 yrs experience (based on 33 salaries)',
 '2 yrs experience (based on 15 salaries)',
 '3-4 yrs experience (based on 32 salaries)',
 '3-4 yrs experience (based on 21 salaries)',
 '2-4 yrs experience (based on 89 salaries)',
 '2-4 yrs experience (based on 51 salaries)',
 '2-4 yrs experience (based on 57 salaries)',
 '3-4 yrs experience (based on 21 salaries)',
 '2-4 yrs experience (based on 69 salaries)']

In [507]:
job = driver.find_elements("xpath",'//span[@class="jp"]')
len(job)

10

In [508]:
job_title=[]
for i in job:
    job_title.append(i.text)
job_title

['Data Scientist Salary',
 'Data Scientist Salary',
 'Data Scientist Salary',
 'Data Scientist Salary',
 'Data Scientist Salary',
 'Data Scientist Salary',
 'Data Scientist Salary',
 'Data Scientist Salary',
 'Data Scientist Salary',
 'Data Scientist Salary']

In [511]:
total_salary = driver.find_elements("xpath",'//p[@class="averageCtc"]')
len(total_salary)

10

In [512]:
total_salary_record=[]
for i in total_salary:
    total_salary_record.append(i.text)
len(total_salary_record)

10

In [513]:
total_salary_record

['₹ 30.6L',
 '₹ 20.8L',
 '₹ 16.7L',
 '₹ 15.9L',
 '₹ 15.7L',
 '₹ 15.5L',
 '₹ 14.8L',
 '₹ 14.0L',
 '₹ 13.2L',
 '₹ 12.8L']

In [514]:
minimum_salary = driver.find_elements("xpath",'//div[@class="value body-medium"]')
len(minimum_salary)

20

In [515]:
minimum_salaries = []
for i in minimum_salary:
    minimum_salaries.append(i.text)
minimum_salaries

['₹ 25.0L',
 '₹ 36.0L',
 '₹ 15.0L',
 '₹ 26.2L',
 '₹ 11.0L',
 '₹ 22.0L',
 '₹ 11.0L',
 '₹ 22.5L',
 '₹ 5.6L',
 '₹ 26.2L',
 '₹ 10.0L',
 '₹ 23.0L',
 '₹ 9.0L',
 '₹ 20.0L',
 '₹ 8.3L',
 '₹ 21.1L',
 '₹ 7.6L',
 '₹ 21.0L',
 '₹ 7.0L',
 '₹ 25.0L']

In [517]:
maximum_salary = driver.find_elements("xpath",'//div[@class="value body-medium"]')
len(maximum_salary)

20

In [519]:
maximum_salaries=[]
for i in maximum_salary:
    maximum_salaries.append(i.text)
maximum_salaries

['₹ 25.0L',
 '₹ 36.0L',
 '₹ 15.0L',
 '₹ 26.2L',
 '₹ 11.0L',
 '₹ 22.0L',
 '₹ 11.0L',
 '₹ 22.5L',
 '₹ 5.6L',
 '₹ 26.2L',
 '₹ 10.0L',
 '₹ 23.0L',
 '₹ 9.0L',
 '₹ 20.0L',
 '₹ 8.3L',
 '₹ 21.1L',
 '₹ 7.6L',
 '₹ 21.0L',
 '₹ 7.0L',
 '₹ 25.0L']

In [520]:
len(company_name),len(total_salary_record),len(minimum_salaries),len(maximum_salaries),len(experience_required),len(job_title)

(25, 10, 20, 20, 20, 10)

In [523]:
df = pd.DataFrame()
df['Total Salary Record']=total_salary_record
df['Job Title']=job_title
df

  Total Salary Record              Job Title
0             ₹ 30.6L  Data Scientist Salary
1             ₹ 20.8L  Data Scientist Salary
2             ₹ 16.7L  Data Scientist Salary
3             ₹ 15.9L  Data Scientist Salary
4             ₹ 15.7L  Data Scientist Salary
5             ₹ 15.5L  Data Scientist Salary
6             ₹ 14.8L  Data Scientist Salary
7             ₹ 14.0L  Data Scientist Salary
8             ₹ 13.2L  Data Scientist Salary
9             ₹ 12.8L  Data Scientist Salary

# Thank You